{% extends 'base.html' %}
{% load static %}

{% block title %}Perfil{% endblock %}

{% block content %}
<center>
  <h1 style="color: white;">Bienvenido, {{ user.username }}!</h1>
  <br>
  <div>
    {% if user.imagen %}
      <img class="border border-light" style="border-radius:15px;" src="{{ user.imagen.url }}" alt="Profile picture" width="300" height="300">
    {% else %}
      <img class="border border-light" style="border-radius:15px;" src="{% static 'user-default.jpg' %}" alt="Default profile picture" width="300" height="300">
    {% endif %}
  </div>
  <br>
  <div>
    <a href="{% url 'apps.usuarios:editar_perfil' %}" class="btn btn-dark border border-light" style="background-color: rgb(0, 0, 0); color:white;">Cambiar imagen de perfil</a>
  </div>
</center>
{% endblock %}