{% extends 'base.html' %}
{% block titulo%} Noticia {%endblock titulo%}

{% block content%}
    <div class="container mt-5">
      <div class="row">
        {% if perms.is_superuser or perms.noticias.change_noticia and perms.noticias.delete_noticia  %}
          <tr>
            <!-- Formulario para eliminar un registro desde la misma tabla HTML -->                        
            <form method="POST" action="/admin/noticias/noticia/{{noticia.pk}}/delete">
              {% csrf_token %}
              <div class="d-flex justify-content-center">
                <a href="/admin/noticias/noticia/{{noticia.pk}}/" title="Editar" type="button" class="btn btn-primary" style="border-radius: 7px; margin-bottom:10px;"> Editar </a>
                <button class="btn btn-danger" type="submit" style="margin-bottom:10px;">Eliminar</button>
              </div>
            </form>
          </tr>
        {% endif %}
        <h1 class="fw-bolder mb-1" style="color:white; background-color: rgb(36, 36, 36); border-radius: 7px; padding-bottom:10px; padding-top:8px;">{{noticia}}</h1>
        <div class=" d-flex flex-column h-100 p-5 pb-3" style="background-color: rgba(0, 0, 0, 0.25); border-radius: 8px;">
          <!-- Post content-->
          <p class="fs-5 mb-4" style="color:white; ">{{noticia.resumen}}</p>
          <article class="text-white text-shadow-1">
              <!-- Post header-->
              
              <div class="mb-4">
                  <!-- Post title-->
                  
                  <!-- Post meta content-->
                  <div class="text-muted fst-italic mb-2">Publicado el {{noticia.fecha}}</div>
                  <!-- Post categories-->
                  <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'noticias:inicio' %}?id={{noticia.categoria_noticia_id}}" style="padding-bottom:8px;">{{noticia.categoria_noticia}}</a>

              </div>
              <div class="mb-5">
                <p class="fs-5 mb-4">{{noticia.cuerpo}}</p>
              </div>
              <!-- Preview image figure-->

              <figure class="mb-4"><img class="img-fluid rounded" src="{{noticia.imagen.url}}" alt="..." style="border-radius: 8px;"></figure>
              <!-- Post content-->

          </article>
          <br></br>
          <!-- Comments section-->
          <section class="mb-5">
            <div class="card bg-light">
                <div class="card-body">
                    <!-- Comment form-->
                    <form class="mb-4" action="{% url 'noticias:comentar' %}" method="post">{% csrf_token %} 
                      <textarea class="form-control" name="comentario" rows="3" placeholder="Escribe un comentario..."></textarea>
                      <input type="text" name="id_noticia" value="{{ noticia.pk }}" hidden="">
                      <div class="d-grid gap-2">
                        <input class="btn btn-secondary rounded-pill px-3" type="submit" value="Comentar" >
                      </div>
                    </form>
                    <h3>Comentarios</h3>
                    <!-- Single comment-->
                    {% for com in comentarios %}
                        <div class="d-flex">
                          <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                          <div class="ms-3">
                            <div class="fw-bold">{{ com.usuario }}</div>
                            {{ com.texto }}
                            <div class="text-muted fst-italic mb-2">
                              {{ com.fecha }}
                            </div>
                          </div>
                        </div>
                        {% if perms.is_superuser or perms.noticias.change_comentario and perms.noticias.delete_comentario %}
                          <tr>
                            <!-- Formulario para eliminar un registro desde la misma tabla HTML -->                        
                            <form method="POST" action="{% url 'noticias:eliminar' id=com.id %}">
                              {% csrf_token %}
                              <div class="btn-group d-flex ">
                                <a href="{% url 'noticias:editar' com.pk %}" type="button" class="btn btn-secondary"> Editar </a>
                                <input class="btn btn-dark" onclick='return Borrar()' type="submit" value="Eliminar" ></input>
                                <script>
                                  function Borrar()
                                  {if(confirm('¿Estas seguro que deseas borrar este Comentario? Volveras al inicio de noticias.')){return true;}else{return false;}}
                                  </script>
                              </div>
                            </form>
                          </tr>
                          <br></br> 
                        {% endif %}
                        

                    {% endfor %}
                  </div>
              </div>
          </section>
        </div>
      </div>
    </div>

    <br></br><br></br>

{% endblock content%}
