{% extends 'base.html'%}
{% block title %} Todas las noticias {% endblock %}

<style>
  @import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

  #holacolor {
    background-attachment: fixed;
    display:flex;
  }

</style>

{% block buscador %}
<li style="padding-left: 30px; position:absolute; left:850px; top:30px;">
  <div style="background-color: rgb(36, 36, 36); padding: 7px; border-radius: 15px; padding-left: 47px;">
    <form class="d-flex; navbar-nav" style="padding-right:15%;" method=POST action="{% url 'noticias:busqueda' %}">
      {% csrf_token %}
      <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search" name="busquedaa">
      <button class="btn btn-outline-light" type="submit">Buscar</button>
    </form>
  </div>
</li>
{% endblock %}

{% block content%}
    <nav class="navbar navbar-expand-md" style="border-bottom-left-radius: 50px; border-bottom-right-radius: 50px; background-color: rgb(36, 36, 36);">
      <div>

        <div>
          <center>

          <div style="font-family: 'Marcellus', serif; font-size:40px; color:rgb(255, 255, 255); background-color:rgb(36, 36, 36); border-radius: 30px; margin-left:110%; margin-bottom:10px;">CATEGORIAS</div>
          </center>
       
            <ul class="navbar-nav me-auto mb-2 mt-1; col-12 col-lg-auto" style="transform: translateX(10%)" >
              
              <li class="nav-item  me-lg-3 btn btn-light" style="font-family: 'Marcellus', serif; background-color: rgba(0, 0, 0); border-radius: 5px; width:85px; position: relative; left: 520px; font-size: 20px;"><a href="{% url 'noticias:inicio' %}" class="nav-link active text-light" aria-current="page">Todas</a></li>
              {% for c in categorias %}
                <li class="nav-item me-lg-3 btn btn-light" style="font-family: 'Marcellus', serif; background-color: rgba(0, 0, 0); border-radius: 8px; right: 150px; position: relative; left: 520px; font-size: 20px;"><a href="?id={{c.pk}}" class="nav-link active text-light" aria-current="page" >{{c.nombre}}</a></li>
              {% endfor %}
              {% if perms.is_superuser or perms.noticias.add_categoria  %}
                <li><a href="admin/noticias/categoria/add/" type="button" class="nav-item mb-3 mb-lg-0 me-lg-3 btn btn-light" style="border-radius: 15px; right: 150px; position: relative; left: 520px;">+</a></li>
              {% endif %}
            </ul> 
               
        </div>
      </div>

    </nav>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="font-family: 'Marcellus', serif; background-color: rgba(0, 0, 0); border-radius: 3px; width:140px; position: relative; left: 100px; top: -70px; font-size: 20px;">
        Ordenar por
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="font-family: 'Marcellus', serif; border-radius: 3px; width:140px; position: relative; left: 100px; top: -55px; font-size: 20px;">
        <li><a class="dropdown-item" href="/noticias/{% for i in noticias %}?ATOZ={{i.id}} {% endfor %}">Nombre: A-Z</a></li>
        <li><a class="dropdown-item" href="/noticias/{% for i in noticias %}?ZTOA={{i.id}} {% endfor %}">Nombre: Z-A</a></li>
        <li><a class="dropdown-item" href="/noticias/{% for i in noticias %}?RTOA={{i.id}} {% endfor %}">Fecha: Recientes</a></li>
        <li><a class="dropdown-item" href="/noticias/{% for i in noticias %}?ATOR={{i.id}} {% endfor %}">Fecha: Antiguos</a></li>
      </ul>
    </div>
    
    {% for noticia in noticias %}
      
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary" style="background-repeat: no-repeat; background-image: url('{{ noticia.imagen.url }}'); background-size: cover; background-position: center; height: 400px; width:1500px; margin-left:6%; margin-top:2%;">
  <div class="d-flex flex-column justify-content-center align-items-center h-100 p-5 pb-3 text-white text-shadow-1" style="background-color: rgba(0, 0, 0, 0.25); border-radius: 50px;">
          <div class="col-lg-6 px-0">
            
            <h1 class="display-4 fst-italic" style="text-shadow: 2px 2px 4px #686868; color: rgb(255, 255, 255);">{{ noticia.titulo }}</h1>
            <p class="lead my-3" style="text-shadow: 2px 2px 4px #686868; color: rgb(255, 255, 255);">{{ noticia.resumen }}</p>
            <p class="lead mb-0"><a href="{% url 'noticias:contenido' noticia.pk %}" class="text-body-emphasis fw-bold" style="text-shadow: 2px 2px 3px #686868; color: rgb(255, 255, 255, 0.75);" >Seguir leyendo</a></p>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="d-flex align-items-center me-3">
                <svg class="lead my-3" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small style="text-shadow: 2px 2px 4px #686868;color: rgb(255, 255, 255); background-color: rgb(86, 86, 86); border-radius: 8px; padding:3px;">{{noticia.categoria_noticia}}</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="lead my-3" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small style="text-shadow: 2px 2px 4px #686868;color: rgb(255, 255, 255); background-color: rgb(86, 86, 86); padding:3px; border-radius: 8px;">{{noticia.fecha}}</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
     
    {% endfor %}

    {% if perms.is_superuser or perms.noticias.add_noticia  %}
      <div align="center" class="container" class="btn_crear mb-3">
        <a href="admin/noticias/noticia/add/" type="button" class="btn btn-danger" style="margin-top:10px;">Agregar noticia</a>
      </div>
    {% endif %}
    <br></br><br></br><br></br>
{% endblock content%}