 .u-section-1 {
  margin-bottom: 0;
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1108px;
  margin: 0 calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 387px;
}

.u-section-1 .u-container-layout-1 {
  padding: 16px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 137px auto 0 33px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 100px 0 30px;
}

.u-section-1 .u-text-3 {
  margin: 20px 30px 0;
}

.u-section-1 .u-text-4 {
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -3px 467px 0 calc(((100% - 1140px) / 2) + 493px);
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 32px);
  height: 338px;
  margin: -338px auto 0 0;
}

.u-section-1 .u-text-5 {
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 92deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -1px auto 0 calc(((100% - 1140px) / 2) + 125px);
}

.u-section-1 .u-text-6 {
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform-origin: center center 0px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 802px);
}

.u-section-1 .u-text-7 {
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 1px auto 60px calc(((100% - 1140px) / 2) + 331px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 328px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 70px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 385px;
    margin-left: calc(((100% - 940px) / 2) + 407px);
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 32px);
  }

  .u-section-1 .u-text-5 {
    margin-left: calc(((100% - 940px) / 2) + 125px);
  }

  .u-section-1 .u-text-6 {
    margin-left: calc(((100% - 940px) / 2) + 607px);
    margin-right: 167px;
  }

  .u-section-1 .u-text-7 {
    margin-left: calc(((100% - 940px) / 2) + 273px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 295px;
    margin-left: calc(((100% - 720px) / 2) + 312px);
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 32px);
  }

  .u-section-1 .u-text-5 {
    margin-left: calc(((100% - 720px) / 2) + 125px);
  }

  .u-section-1 .u-text-6 {
    margin-left: calc(((100% - 720px) / 2) + 465px);
  }

  .u-section-1 .u-text-7 {
    margin-left: calc(((100% - 720px) / 2) + 209px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: 221px;
    margin-left: calc(((100% - 540px) / 2) + 234px);
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 32px);
  }

  .u-section-1 .u-text-5 {
    margin-left: calc(((100% - 540px) / 2) + 125px);
  }

  .u-section-1 .u-text-6 {
    margin-left: calc(((100% - 540px) / 2) + 349px);
  }

  .u-section-1 .u-text-7 {
    margin-left: calc(((100% - 540px) / 2) + 157px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: 139px;
    margin-left: calc(((100% - 340px) / 2) + 147px);
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 32px);
  }

  .u-section-1 .u-text-5 {
    margin-left: calc(((100% - 340px) / 2) + 79px);
  }

  .u-section-1 .u-text-6 {
    margin-left: calc(((100% - 340px) / 2) + 220px);
    margin-right: 105px;
  }

  .u-section-1 .u-text-7 {
    margin-left: calc(((100% - 340px) / 2) + 99px);
  }
}

.u-section-1 .u-text-7,
.u-section-1 .u-text-7:before,
.u-section-1 .u-text-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-7.u-text-7.u-text-7:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) rotate(25deg) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-7 {
  border-color: transparent !important;
}

.u-section-1 .u-text-7.u-text-7.u-text-7.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) rotate(25deg) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-7 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-6,
.u-section-1 .u-text-6:before,
.u-section-1 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-6.u-text-6.u-text-6:hover {
  transform: rotate(25deg) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-6 {
  border-color: transparent !important;
}

.u-section-1 .u-text-6.u-text-6.u-text-6.hover {
  transform: rotate(25deg) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-6 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-4,
.u-section-1 .u-text-4:before,
.u-section-1 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-4.u-text-4.u-text-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) rotate(25deg) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-4 {
  border-color: transparent !important;
}

.u-section-1 .u-text-4.u-text-4.u-text-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) rotate(25deg) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-4 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-5,
.u-section-1 .u-text-5:before,
.u-section-1 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-5.u-text-5.u-text-5:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) rotate(25deg) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-5 {
  border-color: transparent !important;
}

.u-section-1 .u-text-5.u-text-5.u-text-5.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) rotate(25deg) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-5 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}