{% extends 'base.html' %}

{% block title %} Busqueda {% endblock %}

{% block buscador %}
<li style="padding-left: 30px; position:absolute; left:850px; top:30px;">
  <div style="background-color: rgb(36, 36, 36); padding: 7px; border-radius: 15px; padding-left: 47px;">
    <form class="d-flex; navbar-nav" style="padding-right:15%;" method=POST action="{% url 'noticias:busqueda' %}">
      {% csrf_token %}
      <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search" name="busquedaa">
      <button class="btn btn-outline-light" type="submit">Buscar</button>
    </form>
  </div>
</li>
{% endblock %}  

{% block content %}
    <center>

    {% if busquedaa %}
        <h1 style="color:white">Resultados sobre "{{busquedaa}}" </h1>
    </center>
        <br/>
        {% for noticias in resultados %}
        <ul style="color:white;" id="resultados-busqueda">
            <li>
                <a class="btn btn-light" href="{% url 'noticias:contenido' noticias.id %}">{{ noticias }}</a><br/>
            </li>
        </ul>
        {% endfor %}
    {% else %}
        <h1>Olvidaste elegir que buscar !</h1>
    
    {% endif %}

{% endblock %}