{% extends 'index.html'%}
{% block titulo %} Home {% endblock titulo %}
{% block contenido %}
<main id="fondo">
    <div class="container-fluid p-4" id="fotito">
      <div class="container-fluid d-flex flex-column justify-content-center" style="height: 10vh;" id="achicar">
        <a class="btn btn-dark" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          <i class="fas fa-arrow-down"></i>
        </a>
      </div>
      <div class="collapse" id="collapseExample" id="opacidad">
        <div class="card card-body video-container" id="opacidad">
          <iframe width="500" height="450" src="https://www.youtube.com/embed/DD4zMOvRrzM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </div>




    <!-- esto es para hacer espacio-->
    <div class="container-fluid d-flex flex-column" style="height: 74vh;">
      <div class="row flex-grow-1"></div>
    <!-- espacio -->
  </main>
{%endblock contenido%}