{% extends 'base.html'%}

{% block title %} Home {% endblock  %}

{% block content %}

  <div class="container-fluid p-4" id="fotito">
    <div class="container-fluid d-flex flex-column justify-content-center" style="height: 10vh;" id="achicar">
      <a class="btn btn-dark" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        <i class="fas fa-arrow-down"></i>
      </a>
    </div>
    <div class="collapse" id="collapseExample" id="opacidad1">
      <div class="card card-body video-container" id="opacidad1">
        <iframe width="500" height="450" src="https://www.youtube.com/embed/DD4zMOvRrzM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>
  

{% endblock %}