{% extends 'base.html'%}

{% block title %} Arquero{% endblock %}

{% block content %}

<html>
<article class="content">
    <div class="classes_wrap character_29">
        <section class="classes_top">
            <h2>Arquero</h2>
        </section>
        <div class="classes_top_symbol" id="oli">
            <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/character_29_top_symbol.png" alt="" class="img_character_symbol" style="width:1723px;">
        </div>
        <section class="original">
            <div class="inner">
                <div class="left_area">
                    <div class="characteristic">
                        <span class="label">ORIGINAL</span>
                        <h3>El hijo perdido de Sylva,<br>protector de la tierra</h3>
                        <div class="desc_wrap">
                            <div class="inner">
                                <div class="feature">
                                    <ul>
                                        <li><span class="title">Arma principal/secundaria</span><span class="weapon">Ballesta/Ra'ghon</span></li>
                                        <li><span class="title">Tipo de combate</span><span class="type">A distancia</span></li>
                                    </ul>
                                </div>
       
                                <p class="desc">
                                    El Arquero lleva equipada la ballesta en su brazo para poder moverse con más agilidad, así como un guante especial imbuido con el poder de la luz, el Ra'ghon.<br>El Arquero se mueve con gran velocidad y ha logrado el dominio absoluto de las habilidades del arco para poder cumplir con su misión. Gracias al dominio del arco, puede atacar a los enemigos mientra se mantiene en constante movimiento y a su vez concentrar la energía para lanzar potentes flechazos que tumban a su objetivo.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="media_area origin">
                        <p class="img_area">
                            <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class29_img1.jpg">
                                <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class29_thumb_img1.jpg" alt="Arquero ORIGINAL">
                            </a>
                        </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/Eaj3YdELFs0?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class29_thumb_video.jpg" alt="Arquero ORIGINAL video">
                                </a>
                            </p>
                    </div>
                </div>
            </div>
        </section>
            <section class="awakening">
                <div class="inner">
                    <div class="right_area">
                        <div class="characteristic">
                            <span class="label">
                                <span class="awakenOn">DESPERTAR</span>
                                <span class="talentOn">DON</span>
                            </span>
                            <h3>Aquellos que amenazan el árbol sagrado<br> no podrán esquivar mis flecha</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li class="awakenOn"><span class="title">Arma del Despertar</span><span class="weapon">Arco Divino</span></li>
                                            <li class="talentOn"><span class="title">Herramienta de ejecución</span><span class="weapon">Arco Divino</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">A distancia</span></li>
                                        </ul>
                                    </div>

                                    <p class="desc">
                                        El Arquero en el Despertar ataca con el Arco Divino, un arma que por su tamaño, más que flecha se puede considerar que dispara lanzas.<br> Observando atentamente el campo de batalla, el Arquero causa estragos en las filas enemigas con salvas de gigantescas flecha mientras se mantiene en movimiento para evitar los ataques enemigos. El Arquero cambia constantemente entre la ballesta y el Arco Divino, jugando con la esperanza de sus enemigos a su antojo.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area awake">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class29_awaken_img_1.jpg?v=200128">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class29_awaken_thumb_img_1.jpg" alt="Arquero DESPERTAR">
                                </a>
                            </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/Eaj3YdELFs0?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class29_awaken_thumb_video.jpg?v=200714" alt="Arquero DESPERTAR video">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

</article>
</html>

{% endblock %}