{% extends 'base.html'%}

{% block title %} Bruja {% endblock %}

{% block content %}

<style>
    .classes_top{
        color: rgb(39,59,70);
        margin-left: 810px;
        text-transform: uppercase;
    }

    .label{
        color: rgb(39,59,70);
        text-transform: uppercase;
    }
    
    
    .feature{
        color: white;
    }

    .desc1{
        text-decoration: underline;
        color: white;
    }

    .desc{
        color: white;
    }
</style>

<html>
<article class="content">
    <div class="classes_wrap character_31">
        <section class="classes_top">
            <h2>Bruja</h2>
        </section>
        <div class="classes_top_symbol">
            <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/character_31_top_symbol.png" alt="" class="img_character_symbol" style="width:1915px;">
        </div>
        <section class="original">
            <div class="inner">
                <div class="left_area">
                    <div class="characteristic">
                        <span class="label">ORIGINAL</span>
                        <h3 class="desc1">La joven que controla los elementos</h3>
                        <div class="desc_wrap">
                            <div class="inner">
                                <div class="feature">
                                    <ul>
                                        <li><span class="title">Arma principal/secundaria</span><span class="weapon">Vara/Daga</span></li>
                                        <li><span class="title">Tipo de combate</span><span class="type">Magia a distancia</span></li>
                                    </ul>
                                </div>
                                
                                <p class="desc">
                                    La Bruja controla con su Vara los elementos del fuego, hielo, viento, rayo y tierra, con los que domina por completo a sus enemigos. En especial, la Bruja es una experta en ataques de área con los que derrota a varios enemigos al mismo tiempo. <br>No solo eso, sino que puede acortar la distancia rápidamente, curarse y aplicarles bonificadores a los aliados. <br>Esta hábil Bruja será imprescindible en el campo de batalla ya que sobresale tanto por su poder de ataque como por sus habilidades de apoyo.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="media_area origin">
                        <p class="img_area">
                            <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class31_img1.jpg">
                                <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class31_thumb_img1.jpg" alt="Bruja ORIGINAL">
                            </a>
                        </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/4-8hVKPnyGM?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class31_thumb_video.jpg" alt="Bruja ORIGINAL video">
                                </a>
                            </p>
                    </div>
                </div>
            </div>
        </section>
            <section class="awakening">
                <div class="inner">
                    <div class="right_area">
                        <div class="characteristic">
                            <span class="label">
                                <span class="awakenOn">DESPERTAR</span>
                                <span class="talentOn">DON</span>
                            </span>
                            <h3 class="desc1">Busca la verdad con pura pasión<br>Los Guardianes de los Elementos seguramente te responderán</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li class="awakenOn"><span class="title">Arma del Despertar</span><span class="weapon">Aadsferas</span></li>
                                            <li class="talentOn"><span class="title">Herramienta de ejecución</span><span class="weapon">Aadsferas</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Magia a distancia</span></li>
                                        </ul>
                                    </div>

                                    <p class="desc">
                                        La Bruja en su Despertar, gracias a los guardianes de los elementos, controla los elementos del relámpago y de la tierra. Su excelencia en las artes mágicas ha llegado a tal punto que puede enterrar a sus enemigos y fulminarlos con un rayo. La Bruja posee más poder defensivo que su contraparte masculina.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area awake">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class31_awaken_img_1.jpg?v=200128">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class31_awaken_thumb_img_1.jpg" alt="Bruja DESPERTAR">
                                </a>
                            </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/B4i_YxOVV_o?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class31_awaken_thumb_video.jpg?v=200714" alt="Bruja DESPERTAR video">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="succession">
                <div class="inner">
                    <div class="center_area">
                        <div class="characteristic">
                            <span class="label">SUCESIÓN</span>
                            <h3 class="desc1">Su devoción al estudio le ha proporcionado<br> una sabiduría infinita</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li><span class="title">Arma del Sucesión</span><span class="weapon">Vara/Daga</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Magia a distancia</span></li>
                                        </ul>
                                    </div>

                                    <p class="desc">
                                        La Bruja que optó por el Sucesión, vuelve a usar la magia con el poder puro de los elementos mediante su Vara. Esta devota estudiante de la magia, ha llegado a la cúspide del conocimiento mágico, lo que le permite ahora atacar combinando los diferentes elemento. La Bruja arrasa con todos los enemigos del área y provoca el caos entre las filas enemigas, además de proteger a los aliados, lo que la hace una clase muy importante en el campo de batalla.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area origin">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class31_succession_img_1.jpg">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class31_succession_thumb_img_1.jpg" alt="Bruja SUCESIÓN">
                                </a>
                            </p>
                                <p class="video_area">
                                    <a attr-idx="1" video-url="https://www.youtube.com/embed/4-8hVKPnyGM?rel=0">
                                        <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class31_succession_thumb_video.jpg" alt="Bruja SUCESIÓN video">
                                    </a>
                                </p>
                        </div>
                    </div>
                </div>
            </section>

</article>
</html>

{% endblock %}
