{% extends 'base.html'%}

{% block title %} Corsair {% endblock %}

{% block content %}

<style>
    .classes_top{
        color: rgb(39,59,70);
        margin-left: 810px;
        text-transform: uppercase;
    }

    .label{
        color: rgb(39,59,70);
        text-transform: uppercase;
    }
    
    
    .feature{
        color: white;
    }

    .desc1{
        text-decoration: underline;
        color: white;
    }

    .desc{
        color: white;
    }
</style>

<html>
<article class="content">
    <div class="classes_wrap character_10">
        <section class="classes_top">
            <h2>Corsair</h2>
        </section>
        <div class="classes_top_symbol">
            <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/character_10_top_symbol.png" alt="" class="img_character_symbol" style="width:1915px;">
        </div>
        <section class="original">
            <div class="inner">
                <div class="left_area">
                    <div class="characteristic">
                        <span class="label">ORIGINAL</span>
                        <h3 class="desc1">¡Espera, mundo! <br>¡Este cuerpo ira pronto! Ja ja ja ja ja!</h3>
                        <div class="desc_wrap">
                            <div class="inner">
                                <div class="feature">
                                    <ul>
                                        <li><span class="title">Arma principal/secundaria</span><span class="weapon">Serenaka/Mareka</span></li>
                                        <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                    </ul>
                                </div>

                                <p class="desc">
                                    La Corsair porta la Serenaka, una espada que se extiende, y la mareka, el tesoro escondido del mar, de la cual aparece una cuerda que le permite moverse con la fluidez del agua para realizar gráciles combos.<br> La Corsair, una con el mar y tan impredecible como las olas, alcanza el punto débil del enemigo con su espada y utiliza la cuerda par moverse por el aire y entre los enemigos en un instante. El estilo de combate de la Corsair resultará fluido, entretenido, refrescante e intuitivo. Además de usar su espada, la Corsair invoca desde la misteriosa Mareka el poder del océano y se transforma en una sirena. <br>En este estado, aparecerán ballenas oníricas que danzarán con la Corsair y provocarán un maremoto que arrasará con los enemigos. <br>La Corsair contará con más velocidad bajo el agua y podrá aguantar más la respiración.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="media_area origin">
                        <p class="img_area">
                            <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class10_img1.jpg">
                                <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class10_thumb_img1.jpg" alt="Corsair ORIGINAL">
                            </a>
                        </p>
                            <p class="ready_area">
                                <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/thumb_ready_v2.jpg" alt="">
                            </p>
                    </div>
                </div>
            </div>
        </section>
            <section class="awakening">
                <div class="inner">
                    <div class="right_area">
                        <div class="characteristic">
                            <span class="label">
                                <span class="awakenOn">DESPERTAR</span>
                                <span class="talentOn">DON</span>
                            </span>
                            <h3 class="desc1">¡Mis queridos soldaditos!<br> ¡Yo abriré camino, comienza el bombardeo!</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li class="awakenOn"><span class="title">Arma del Despertar</span><span class="weapon">Patraka</span></li>
                                            <li class="talentOn"><span class="title">Herramienta de ejecución</span><span class="weapon">Patraka</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Corto Alcance / Largo Alcance</span></li>
                                        </ul>
                                    </div>
                            
                                    <p class="desc">
                                        La Corsair conecta con sus raíces en el Despertar y porta en su mano la Patraka, un arma imbuida con la espesa niebla que rodea el Nido de Cuervos. Esta niebla le sirve para ocultarse y confundir a los enemigos; a los que atacará de cerca con el filo de su Patraka, y de lejos con el arpón.<br>Aquellos desventurados que se crucen en el camino de su arpón, se verán arrastrados hacia la niebla, donde serán neutralizados. No solo esto, sino que gracias a su reforzado vínculo con los Granujillas escurridizos, podrá llamarlos al campo de batalla para que la asistan. A pesar de su carácter atolondrado, la leal tripulación de nutrias usará toda su artillería en el campo de batalla para añadir versatilidad a los ataques de su capitana.<br>Los enemigos tendrán muy difícil escapar de la niebla, los imprevisibles ataques con el arpón, y la artillería de los Granujillas.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area awake">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class10_awaken_img_1.jpg?v=200128">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class10_awaken_thumb_img_1.jpg" alt="Corsair DESPERTAR">
                                </a>
                            </p>
                                <p class="ready_area">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/thumb_ready_v2.jpg" alt="">
                                </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="succession">
                <div class="inner">
                    <div class="center_area">
                        <div class="characteristic">
                            <span class="label">SUCESIÓN</span>
                            <h3 class="desc1">¡Súbete a las olas románticas y<br> canta un maremoto más grande!</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li><span class="title">Arma del Sucesión</span><span class="weapon">Serenaka/Mareka</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                        </ul>
                                    </div>
               
                                    <p class="desc">
                                        La Corsair en su Sucesión imbuye el poder de la canción de la última ola del desaparecido mar onírico en su marekha. Ahora puede invocar olas aún más devastadoras gracias al refuerzo en su convicción y su unión aún más cercana con las ballenas oníricas. Además de volverse más ágil y rápida, es capaz de controlar por completo el poder de las olas para atrapar a sus enemigos y hacer que den con sus huesos en el fondo del mar.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area origin">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class10_succession_img_1.jpg">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class10_succession_thumb_img_1.jpg" alt="Corsair SUCESIÓN">
                                </a>
                            </p>
                                <p class="ready_area">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/thumb_ready_v2.jpg" alt="">
                                </p>
                        </div>
                    </div>
                </div>
            </section>

</article>
</html>

{% endblock %}
