{% extends 'base.html'%}

{% block title %} Dark_knight {% endblock %}

{% block content %}


<html>
<article class="content">
    <div class="classes_wrap character_27">
        <section class="classes_top">
            <h2>Dark Knight</h2>
        </section>
        <div class="classes_top_symbol">
            <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/character_27_top_symbol.png" alt="" class="img_character_symbol">
        </div>
        <section class="original">
            <div class="inner">
                <div class="left_area">
                    <div class="characteristic">
                        <span class="label">ORIGINAL</span>
                        <h3>Llamas ardientes bajo la luz de la luna<br></h3>
                        <div class="desc_wrap">
                            <div class="inner">
                                <div class="feature">
                                    <ul>
                                        <li><span class="title">Arma principal/secundaria</span><span class="weapon">Kriegsmesser/Nudo Ornamental</span></li>
                                        <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                    </ul>
                                </div>

                                <p class="desc">
                                    La Dark Knight, hija de la diosa Sylva, empuña el enorme kriegsmesser y usa la magia resultante de calcinar la energía de los espíritus para dominar el campo de batalla.<br> Esta hermosa espadachina es capaz de neutralizar los ataques enemigos desde cualquier flanco y acercase rápidamente a ellos para asestar estocadas poderosas y mortales. Aunque no tenga una buena defensa en comparación con otros personajes en el combate cuerpo a cuerpo, es capaz de bloquear los ataques enemigos con el kriegsmesser y alcanzarlos cuando se encuentran a distancia.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="media_area origin">
                        <p class="img_area">
                            <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class27_img1.jpg">
                                <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class27_thumb_img1.jpg" alt="Dark Knight ORIGINAL">
                            </a>
                        </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/0cbHz_uS-Us?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class27_thumb_video.jpg" alt="Dark Knight ORIGINAL video">
                                </a>
                            </p>
                    </div>
                </div>
            </div>
        </section>
            <section class="awakening">
                <div class="inner">
                    <div class="right_area">
                        <div class="characteristic">
                            <span class="label">
                                <span class="awakenOn">DESPERTAR</span>
                                <span class="talentOn">DON</span>
                            </span>
                            <h3>No hay nada más hermoso<br>que la llama de un espíritu ardiente</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li class="awakenOn"><span class="title">Arma del Despertar</span><span class="weapon">Vediant</span></li>
                                            <li class="talentOn"><span class="title">Herramienta de ejecución</span><span class="weapon">Vediant</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Rango medio</span></li>
                                        </ul>
                                    </div>

                                    <p class="desc">
                                        La Dark Knight en su Despertar usa la Vediant, armas que le permiten controlar mejor el poder de los espíritus.<br>Las vediant tienen el poder de cambiar de forma, por lo que la Dark Knight puede atacar tanto a corta distancia como a larga distancia con estos sables fantasmales. La Dark Knight sigue siendo tan ágil como antes de su Despertar, por lo que continua haciendo gala de ataques rápidos y mortales.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area awake">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class27_awaken_img_1.jpg?v=200128">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class27_awaken_thumb_img_1.jpg" alt="Dark Knight DESPERTAR">
                                </a>
                            </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/W61HzQLrgDw?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class27_awaken_thumb_video.jpg?v=200714" alt="Dark Knight DESPERTAR video">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="succession">
                <div class="inner">
                    <div class="center_area">
                        <div class="characteristic">
                            <span class="label">SUCESIÓN</span>
                            <h3>La única espada <br>que puede hacer justicia</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li><span class="title">Arma del Sucesión</span><span class="weapon">Kriegsmesser/Nudo Ornamental</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                        </ul>
                                    </div>

                                    <p class="desc">
                                        La Dark Knight vuelve a Sucesión para enfrentarse de nuevo a sus enemigos con el Kriegsmesser y Nudo Ornamental.<br>A todos aquellos que no respetan su justicia, los aniquila causándoles un daño mortal. Aunque su estilo pueda parecer un poco pesado y tosco en apariencia, blande el kriegsmesser con una agilidad sorprendente que deja en caos el campo de batalla. La Dark Knight muestra una actitud desafiante ante todos aquellos que no respeten la verdadera justicia, masacrando a sus enemigos sin titubear.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area origin">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class27_succession_img_1.jpg">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class27_succession_thumb_img_1.jpg" alt="Dark Knight SUCESIÓN">
                                </a>
                            </p>
                                <p class="video_area">
                                    <a attr-idx="1" video-url="https://www.youtube.com/embed/0cbHz_uS-Us?rel=0">
                                        <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class27_succession_thumb_video.jpg" alt="Dark Knight SUCESIÓN video">
                                    </a>
                                </p>
                        </div>
                    </div>
                </div>
            </section>

</article>
</html>

{% endblock %}

