{% extends 'base.html'%}

{% block title %} Domadora {% endblock %}

{% block content %}

<style>
    .classes_top{
        color: #2c353b;
        margin-left: 770px;
        text-transform: uppercase;
    }

    .label{
        color: #2c353b;
        text-transform: uppercase;
    }
    
    
    .feature{
        color: white;
    }

    .desc1{
        text-decoration: underline;
        color: white;
    }

    .desc{
        color: white;
    }
</style>

<html>
<article class="content">
    <div class="classes_wrap character_16">
        <section class="classes_top">
            <h2>Domadora</h2>
        </section>
        <div class="classes_top_symbol">
            <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/character_16_top_symbol.png" alt="" class="img_character_symbol" style="width:1915px;">
        </div>
        <section class="original">
            <div class="inner">
                <div class="left_area">
                    <div class="characteristic">
                        <span class="label">ORIGINAL</span>
                        <h3 class="desc1">La princesa de un reino caído que custodia a una bestia sagrada<br></h3>
                        <div class="desc_wrap">
                            <div class="inner">
                                <div class="feature">
                                    <ul>
                                        <li><span class="title">Arma principal/secundaria</span><span class="weapon">Espada corta/Baratija</span></li>
                                        <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                    </ul>
                                </div>

                                <p class="desc">
                                    La Domadora porta una espada corta y una Baratija, y tiene como acompañante a la bestia sagrada olvidada, Heuklang. Con un total dominio de las artes marciales y la fuerza de Heuklang, la domadora crea un estilo único de combate que sorprenderá tanto a aliados como enemigos. Sus ataques combinados con Heuklang hacen ver a los enemigos que no es uno, sino dos contrincantes a los que se tienen que enfrentar.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="media_area origin">
                        <p class="img_area">
                            <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class16_img1.jpg">
                                <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class16_thumb_img1.jpg" alt="Domadora ORIGINAL">
                            </a>
                        </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/js0qDohKvQk?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class16_thumb_video.jpg" alt="Domadora ORIGINAL video">
                                </a>
                            </p>
                    </div>
                </div>
            </div>
        </section>
            <section class="awakening">
                <div class="inner">
                    <div class="right_area">
                        <div class="characteristic">
                            <span class="label">
                                <span class="awakenOn">DESPERTAR</span>
                                <span class="talentOn">DON</span>
                            </span>
                            <h3 class="desc1">Dueña de Heuklang,<br>sigue el poder que hace temblar los cielos</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li class="awakenOn"><span class="title">Arma del Despertar</span><span class="weapon">Bo Celestial</span></li>
                                            <li class="talentOn"><span class="title">Herramienta de ejecución</span><span class="weapon">Bo Celestial</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                        </ul>
                                    </div>

                                    <p class="desc">
                                        La domadora reclama el ancestral Bo Celestial de su maestro, permitiéndole ser la verdadera dueña de Heuklang y sus poderes místicos. Las habilidades de este arma legendaria pueden acabar sin piedad con los enemigos y cambiar las tornas de cualquier batalla.&nbsp;
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area awake">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class16_awaken_img_1.jpg?v=200128">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class16_awaken_thumb_img_1.jpg" alt="Domadora DESPERTAR">
                                </a>
                            </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/FyX-fbti2Mo?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class16_awaken_thumb_video.jpg?v=200714" alt="Domadora DESPERTAR video">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="succession">
                <div class="inner">
                    <div class="center_area">
                        <div class="characteristic">
                            <span class="label">SUCESIÓN</span>
                            <h3 class="desc1">El instinto del tiempo olvidado <br>ha despertado el poder latente <br>de la espada corta</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li><span class="title">Arma del Sucesión</span><span class="weapon">Espada corta/Baratija</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                        </ul>
                                    </div>
                   
                                    <p class="desc">
                                        La domadora en su Sucesión vuelve a blandir la espada corta y la Baratija y, con el reciente despertar de su instinto reprimido gracias al poder de Heuklang, sus ataques se han tornado más poderosos y versátiles.<br>Gracias a su sinergia con Heuklang, la domadora ahora es más ágil y puede infligir más daño con poderosos combos. La espada corta tiene un mayor alcance y su filo es más afilado, y con la Baratija podrá realizar complejos ataques que le servirán no solo en pequeñas escaramuzas sino también en grandes batallas.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area origin">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class16_succession_img_1.jpg">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class16_succession_thumb_img_1.jpg" alt="Domadora SUCESIÓN">
                                </a>
                            </p>
                                <p class="video_area">
                                    <a attr-idx="1" video-url="https://www.youtube.com/embed/js0qDohKvQk?rel=0">
                                        <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class16_succession_thumb_video.jpg" alt="Domadora SUCESIÓN video">
                                    </a>
                                </p>
                        </div>
                    </div>
                </div>
            </section>


</article>
</html>

{% endblock %}
