{% extends 'base.html'%}

{% block title %} Drakania{% endblock %}

{% block content %}


<html>
<article class="content">
    <div class="classes_wrap character_7">
        <section class="classes_top">
            <h2>Drakania</h2>
        </section>
        <div class="classes_top_symbol">
            <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/character_7_top_symbol.png" alt="" class="img_character_symbol" style="width:1723px;">
        </div>
        <section class="original">
            <div class="inner">
                <div class="left_area">
                    <div class="characteristic">
                        <span class="label">ORIGINAL</span>
                        <h3>«Solo la llama de la destrucción<br>que quema a los dioses<br>será la única guía<br>al paraíso perdido de los dragones.»</h3>
                        <div class="desc_wrap">
                            <div class="inner">
                                <div class="feature">
                                    <ul>
                                        <li><span class="title">Arma principal/secundaria</span><span class="weapon">Slayer/Daga Dragonita</span></li>
                                        <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                    </ul>
                                </div>
                 
                                <p class="desc">
                                    La Drakania está armada con un Slayer forjado con los huesos de los dragones y con la Daga Dragonita fraguada con su escama de dragón. Ella recarga la Daga Dragonita de energía y lanza destructoras estocadas con su Slayer. <br>Drakania, la última esperanza de los dragones, es capaz de recuperarse rápidamente de ataques fatales gracias a su segundo corazón de dragón. Al atacar, se acerca velozmente a los enemigos que están a distancia media, roba energía de los alrededores y la libera para atacarlos o clava el slayer en la superficie para bloquear los ataques mientras absorbe energía.<br>En situaciones de peligro, usa la Daga Dragonita para robar cualquier atisbo de energía del oponente.<br>Los enemigos huirán como locos ante el devastador rayo de Drakania, quien no duda en dar todo de ella para proteger la supervivencia de su raza.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="media_area origin">
                        <p class="img_area">
                            <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class7_img1.jpg">
                                <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class7_thumb_img1.jpg" alt="Drakania ORIGINAL">
                            </a>
                        </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/38l-lxIa82g?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class7_thumb_video.jpg" alt="Drakania ORIGINAL video">
                                </a>
                            </p>
                    </div>
                </div>
            </div>
        </section>
            <section class="awakening">
                <div class="inner">
                    <div class="right_area">
                        <div class="characteristic">
                            <span class="label">
                                <span class="awakenOn">DESPERTAR</span>
                                <span class="talentOn">DON</span>
                            </span>
                            <h3>La heraldo del caos alza el vuelo, <br>atravesando el gélido cielo</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li class="awakenOn"><span class="title">Arma del Despertar</span><span class="weapon">Trion</span></li>
                                            <li class="talentOn"><span class="title">Herramienta de ejecución</span><span class="weapon">Trion</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Melé</span></li>
                                        </ul>
                                    </div>
              
                                    <p class="desc">
                                        La Drakania Derpertada lucha contra los enemigos con las Trion, el legado de Erethea, la bruja que mató a tantos dragones y que a la vez es su madre. <br>Utiliza con total libertad las Trion, dos lanzas con poderes diferentes. La izquierda tiene el gran poder del viento y la derecha lleva la flamante fuerza del fuego. Con estas lanzas, Drakania lanza, corta, apuñala y ataca consecutivamente a sus enemigos. <br>Además, puede saltar a gran altura extendiendo sus alas del dragón y dar poderosos golpes hacia abajo o planear a gran velocidad. <br>Y dependiendo de la situación, puede esconder las alas y dirigir el combate de la forma más conveniente para ella. Cuando está en forma humana, da ataques precisos y rápidos. En cambio, en forma de dragona, da grandes y poderosos ataques para arrasar con los enemigos. <br>Una vez que Drakania extienda sus alas de la muerte y cause vientos flamantes, no habrá salvación alguna para sus enemigos.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area awake">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class7_awaken_img_1.jpg?v=200128">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class7_awaken_thumb_img_1.jpg" alt="Drakania DESPERTAR">
                                </a>
                            </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/Eygmo05zDV0?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class7_awaken_thumb_video.jpg?v=200714" alt="Drakania DESPERTAR video">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="succession">
                <div class="inner">
                    <div class="center_area">
                        <div class="characteristic">
                            <span class="label">SUCESIÓN</span>
                            <h3>«Aún muertos, nuestros corazones <br> latirán juntos para siempre.»</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li><span class="title">Arma del Sucesión</span><span class="weapon">Slayer/Daga Dragonita</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                        </ul>
                                    </div>
             
                                    <p class="desc">
                                        La Drakania en su Sucesión consuela el espíritu de sus difuntos congéneres y comienza un viaje para recuperar el paraíso de los dragones, fortaleciendo la Daga Dragonita con su rencor, dolor, lágrimas y sangre.<br>Drakania, que lleva el recuerdo de doloroso final que sufrieron sus congéneres en lo más profundo de su corazón, roba y acumula energía en su Daga Dragonita, y usa ese poder para atacar a los enemigos con poderosas y veloces estocadas.<br>Además, su segundo corazón fortificado, le permite absorber hasta efectos negativos de los enemigos como su propia energía y utilizarla en contra de ellos, sin dejarles tiempo para contraatacar.<br>Lo último que verán sus oponentes será las furiosas alas del dragón de la Drakania cerniéndose sobre ellos.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area origin">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class7_succession_img_1.jpg">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class7_succession_thumb_img_1.jpg" alt="Drakania SUCESIÓN">
                                </a>
                            </p>
                                <p class="video_area">
                                    <a attr-idx="1" video-url="https://www.youtube.com/embed/38l-lxIa82g?rel=0">
                                        <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class7_succession_thumb_video.jpg" alt="Drakania SUCESIÓN video">
                                    </a>
                                </p>
                        </div>
                    </div>
                </div>
            </section>

</article>
</html>

{% endblock %}

