{% extends 'base.html'%}

{% block title %} Gigante {% endblock %}

{% block content %}


<html>
<article class="content">
    <div class="classes_wrap character_12">
        <section class="classes_top">
            <h2>Gigante</h2>
        </section>
        <div class="classes_top_symbol">
            <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/character_12_top_symbol.png" alt="" class="img_character_symbol">
        </div>
        <section class="original">
            <div class="inner">
                <div class="left_area">
                    <div class="characteristic">
                        <span class="label">ORIGINAL</span>
                        <h3>Fuerza arrolladora y un<br>espíritu de lucha inquebrantable</h3>
                        <div class="desc_wrap">
                            <div class="inner">
                                <div class="feature">
                                    <ul>
                                        <li><span class="title">Arma principal/secundaria</span><span class="weapon">Hacha/Nudo Ornamental</span></li>
                                        <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                    </ul>
                                </div>
                                
                                <p class="desc">
                                    Solo con ver el tamaño y aspecto del Gigante, los enemigos comienzan a temer por su vida, pero al ver cómo maneja sus enormes hacha, saben que su muerte no será agradable. El Gigante usa habilidades de agarre y derribo para manejar a los enemigos a su antojo. <br>Aunque su principal estrategia es arrollar con todos los enemigos a su paso, el Gigante es muy útil protegiendo a aliados con menos defensa. Si se usa con perspicacia, el Gigante es un gran aliado en el campo de batalla.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="media_area origin">
                        <p class="img_area">
                            <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class12_img1.jpg">
                                <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class12_thumb_img1.jpg" alt="Gigante ORIGINAL">
                            </a>
                        </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/raCueJRlGqQ?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class12_thumb_video.jpg" alt="Gigante ORIGINAL video">
                                </a>
                            </p>
                    </div>
                </div>
            </div>
        </section>
            <section class="awakening">
                <div class="inner">
                    <div class="right_area">
                        <div class="characteristic">
                            <span class="label">
                                <span class="awakenOn">DESPERTAR</span>
                                <span class="talentOn">DON</span>
                            </span>
                            <h3>El gran Tantu liderará el camino</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li class="awakenOn"><span class="title">Arma del Despertar</span><span class="weapon">Guantelete de Cañón</span></li>
                                            <li class="talentOn"><span class="title">Herramienta de ejecución</span><span class="weapon">Guantelete de Cañón</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                        </ul>
                                    </div>
                                    
                                    <p class="desc">
                                        El Gigante que ha elegido el camino del Despertar utiliza el Guantelete de Cañón, un poderoso cañón equipado en su mano, con el que puede atacar tanto a corta como a larga distancia. Usando la fuerza de las explosiones de su Guantelete de Cañón, el Gigante puede tanto atacar ferozmente como salvar la distancia rápidamente, provocando desconcierto en los enemigos. <br>Mientras que la hechicera desconcierta a los enemigos con su evasión, el Gigante hace lo mismo con su abrumadora presencia y estilo de combate.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area awake">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class12_awaken_img_1.jpg?v=200128">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class12_awaken_thumb_img_1.jpg" alt="Gigante DESPERTAR">
                                </a>
                            </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/w0SSt0q4LCA?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class12_awaken_thumb_video.jpg?v=200714" alt="Gigante DESPERTAR video">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="succession">
                <div class="inner">
                    <div class="center_area">
                        <div class="characteristic">
                            <span class="label">SUCESIÓN</span>
                            <h3>Fuerza bruta en estado puro</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li><span class="title">Arma del Sucesión</span><span class="weapon">Hacha/Nudo Ornamental</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                        </ul>
                                    </div>
                                    
                                    <p class="desc">
                                        El Gigante que optó por el Sucesión retoma las hacha y Nudo Ornamental para aplastar al enemigo sin piedad. Al contrario que con el Guantelete de Cañón de Tantu, con el que compensaba su debilidad técnica, el Gigante vuelve a sus orígenes y se centra en la fuerza bruta.<br> Gracias a su colosal fuerza y a su titánico cuerpo, el Gigante soporta con facilidad los golpes enemigos en el frente de batalla, mientras que protege a los aliados más débiles. Los enemigos que descuiden su atención frente al Gigante, viendo su dominio del ataque y la defensa, perderán inmediatamente la voluntad de pelear.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area origin">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class12_succession_img_1.jpg">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class12_succession_thumb_img_1.jpg" alt="Gigante SUCESIÓN">
                                </a>
                            </p>
                                <p class="video_area">
                                    <a attr-idx="1" video-url="https://www.youtube.com/embed/raCueJRlGqQ?rel=0">
                                        <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class12_succession_thumb_video.jpg" alt="Gigante SUCESIÓN video">
                                    </a>
                                </p>
                        </div>
                    </div>
                </div>
            </section>


</article>
</html>

{% endblock %}
