{% extends 'base.html'%}

{% block title %} Guardiana {% endblock %}

{% block content %}


<html>
<article class="content">
    <div class="classes_wrap character_5">
        <section class="classes_top">
            <h2>Guardiana</h2>
        </section>
        <div class="classes_top_symbol">
            <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/character_5_top_symbol.png" alt="" class="img_character_symbol">
        </div>
        <section class="original">
            <div class="inner">
                <div class="left_area">
                    <div class="characteristic">
                        <span class="label">ORIGINAL</span>
                        <h3>La despiadada guardiana envuelta en<br> un gélido invierno sin fin</h3>
                        <div class="desc_wrap">
                            <div class="inner">
                                <div class="feature">
                                    <ul>
                                        <li><span class="title">Arma principal/secundaria</span><span class="weapon">Hacha de Combate/Escudo</span></li>
                                        <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                    </ul>
                                </div>
    
                                <p class="desc">
                                    La guardiana posee un físico imponente que, junto con su Hacha de Combate y su escudo, hacen que sea capaz de embestir y atacar al enemigo sin piedad alguna.<br>Sin titubear, asalta al enemigo agarrándolo por el cuello y golpeándolo con su escudo, y lo remata con su hacha sin darle tiempo a pedir clemencia. Su técnica de combate es brutal pero a la vez astuta, ya que cubriéndose con su escudo, espera el momento perfecto para dar el golpe mortal. El estilo de ataque de la guardiana es emocionante y violento.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="media_area origin">
                        <p class="img_area">
                            <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class5_img1.jpg">
                                <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class5_thumb_img1.jpg" alt="Guardiana ORIGINAL">
                            </a>
                        </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/VMWzDqZImIw?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class5_thumb_video.jpg" alt="Guardiana ORIGINAL video">
                                </a>
                            </p>
                    </div>
                </div>
            </div>
        </section>
            <section class="awakening">
                <div class="inner">
                    <div class="right_area">
                        <div class="characteristic">
                            <span class="label">
                                <span class="awakenOn">DESPERTAR</span>
                                <span class="talentOn">DON</span>
                            </span>
                            <h3>Despertando del vórtice del olvido,<br> volviendo como verdugo con las llamas del frío</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li class="awakenOn"><span class="title">Arma del Despertar</span><span class="weapon">Yoldun</span></li>
                                            <li class="talentOn"><span class="title">Herramienta de ejecución</span><span class="weapon">Yoldun</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo </span></li>
                                        </ul>
                                    </div>
          
                                    <p class="desc">
                                        La guardiana en su Despertar blande el enorme Yoldun, un arma que contiene en su interior la llama de Ynix, capaz de abrasar hasta a los dioses.<br>Además de dominar el campo de batalla llevando a sus enemigos a la muerte con tajos rápidos pero sutiles, con el abrasador calor de la llama es capaz de destruir hasta la misma luz. Esta fiera guardiana salta y cae sobre sus enemigos sin temor, evocando la imagen de la mismísima dragona Labreska, aquella que gobernó sobre la roca y la nieve.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area awake">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class5_awaken_img_1.jpg?v=200128">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class5_awaken_thumb_img_1.jpg" alt="Guardiana DESPERTAR">
                                </a>
                            </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/fwgOKTlPLXo?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class5_awaken_thumb_video.jpg?v=200714" alt="Guardiana DESPERTAR video">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="succession">
                <div class="inner">
                    <div class="center_area">
                        <div class="characteristic">
                            <span class="label">SUCESIÓN</span>
                            <h3>Un Hacha de Combate devastador<br>que lo destruye todo</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li><span class="title">Arma del Sucesión</span><span class="weapon">Hacha de Combate/Escudo</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                        </ul>
                                    </div>

                                    <p class="desc">
                                        La guardiana que optó por Sucesión, porta de nuevo el hacha de guerra y el escudo para sentenciar a sus enemigos a la muerte sin misericordia alguna.<br> Ahora muestra un poder sencillo pero firme y mortal, tomándose la justicia por su mano. Con su abrumadora fuerza aplasta a los enemigos y atraviesa todas las defensas, rompiendo con las líneas enemigas. Cualquiera que se tope con esta guardiana en el campo de batalla, deberá huir lo más lejos posible si no quiere sufrir un final catastrófico.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area origin">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class5_succession_img_1.jpg">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class5_succession_thumb_img_1.jpg" alt="Guardiana SUCESIÓN">
                                </a>
                            </p>
                                <p class="video_area">
                                    <a attr-idx="1" video-url="https://www.youtube.com/embed/VMWzDqZImIw?rel=0">
                                        <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class5_succession_thumb_video.jpg" alt="Guardiana SUCESIÓN video">
                                    </a>
                                </p>
                        </div>
                    </div>
                </div>
            </section>

</article>
</html>

{% endblock %}

