{% extends 'base.html'%}

{% block title %} Hashashin {% endblock %}

{% block content %}

<html>
<article class="content">
    <div class="classes_wrap character_1">
        <section class="classes_top">
            <h2>Hashashin</h2>
        </section>
        <div class="classes_top_symbol">
            <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/character_1_top_symbol.png" alt="" class="img_character_symbol" style="width:1723px;">
        </div>
        <section class="original">
            <div class="inner">
                <div class="left_area">
                    <div class="characteristic">
                        <span class="label">ORIGINAL</span>
                        <h3>El castigador de Aal,<br>portador del paraíso del astroscuro</h3>
                        <div class="desc_wrap">
                            <div class="inner">
                                <div class="feature">
                                    <ul>
                                        <li><span class="title">Arma principal/secundaria</span><span class="weapon">Shamsir/Haladie</span></li>
                                        <li><span class="title">Tipo de combate</span><span class="type">Rango medio</span></li>
                                    </ul>
                                </div>
   
                                <p class="desc">
                                    El Hashashin se hace uno con la arena mostrando ataques extraordinarios con el shamsir, un sable en forma de luna creciente, y la haladie, una daga imbuida con el poder de las arenas.<br> Gracias a este poder, desaparece de la vista del enemigo en un instante para volver a aparecer asestando estocadas letales. Las tormentas de arena que invoca pueden tanto engañar al enemigo como paralizarlo y dejarlo expuesto a la afilada hoja del shamsir. El Hashashin ha sido bendecido con parte del poder de Aal, por lo que es capaz de moverse por el desierto sin dificultad alguna.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="media_area origin">
                        <p class="img_area">
                            <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class1_img1.jpg">
                                <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class1_thumb_img1.jpg" alt="Hashashin ORIGINAL">
                            </a>
                        </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/5QtuYOKrGc0?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class1_thumb_video.jpg" alt="Hashashin ORIGINAL video">
                                </a>
                            </p>
                    </div>
                </div>
            </div>
        </section>
            <section class="awakening">
                <div class="inner">
                    <div class="right_area">
                        <div class="characteristic">
                            <span class="label">
                                <span class="awakenOn">DESPERTAR</span>
                                <span class="talentOn">DON</span>
                            </span>
                            <h3>Ignora a los que te juzgan <br>y adquiere el verdadero poder de las arenas</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li class="awakenOn"><span class="title">Arma del Despertar</span><span class="weapon">Jusaldo </span></li>
                                            <li class="talentOn"><span class="title">Herramienta de ejecución</span><span class="weapon">Jusaldo </span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                        </ul>
                                    </div>

                                    <p class="desc">
                                        El Hashashin en su Despertar ha superado las pruebas de Aal, probando ser digno de su bendición, y purga a los enemigos de Aal con su nueva arma, la ceraste. <br>El maestro de las arenas maneja este arma de doble filo con tal ligereza y agilidad, que ningún enemigo puede esquivar sus ataques. El Hashashin es ahora incluso más fuerte tras haber resistido la tentación de Hadum, que trató de engañarle haciéndose pasar por Aal, y ahora libera todo su poder haciendo aparecer enormes serpientes de arena que siembran el terror entre las filas enemigas.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area awake">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class1_awaken_img_1.jpg?v=200128">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class1_awaken_thumb_img_1.jpg" alt="Hashashin DESPERTAR">
                                </a>
                            </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/6je0-hJL1cU?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class1_awaken_thumb_video.jpg?v=200714" alt="Hashashin DESPERTAR video">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="succession">
                <div class="inner">
                    <div class="center_area">
                        <div class="characteristic">
                            <span class="label">SUCESIÓN</span>
                            <h3>De pie en el fin del mundo<br>con un torbellino oscuro.</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li><span class="title">Arma del Sucesión</span><span class="weapon">Shamsir/Haladie</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Media distancia</span></li>
                                        </ul>
                                    </div>
              
                                    <p class="desc">
                                        El Hashashin en su Sucesión se vuelve aún más ágil y su control sobre las arenas se torna aún más preciso y poderoso. Ahora domina por completo la haladie, lo que le permite cegar y paralizar a los enemigos con poderosos tornados de arena, que además usa como camuflaje para pillar a los enemigos in fraganti. Gracias al poder reforzado de su haladie, el Hashashin puede detectar los puntos débiles de sus contrincantes y usarlos en su favor.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area origin">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class1_succession_img_1.jpg">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class1_succession_thumb_img_1.jpg" alt="Hashashin SUCESIÓN">
                                </a>
                            </p>
                                <p class="video_area">
                                    <a attr-idx="1" video-url="https://www.youtube.com/embed/ajZLtIpwPyY?rel=0">
                                        <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class1_succession_thumb_video.jpg" alt="Hashashin SUCESIÓN video">
                                    </a>
                                </p>
                        </div>
                    </div>
                </div>
            </section>

</article>
</html>

{% endblock %}

