{% extends 'base.html'%}

{% block title %} Maegu {% endblock %}

{% block content %}

<style>
    .classes_top{
        color: rgb(95,36,52);
        margin-left: 810px;
        text-transform: uppercase;
    }

    .label{
        color: rgb(95,36,52);
        text-transform: uppercase;
    }
    
    
    .feature{
        color: white;
    }

    .desc1{
        text-decoration: underline;
        color: white;
    }

    .desc{
        color: white;
    }
</style>

<html>
<article class="content">
    <div class="classes_wrap character_15">
        <section class="classes_top">
            <h2>Maegu</h2>
        </section>
        <div class="classes_top_symbol">
            <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/character_15_top_symbol.png" alt="" class="img_character_symbol" style="width:1723px;">
        </div>
        <section class="original">
            <div class="inner">
                <div class="left_area">
                    <div class="characteristic">
                        <span class="label">ORIGINAL</span>
                        <h3 class="desc1">Maestra del Do que deja perplejos a los enemigos<br>con el poder de la seducción del zorro</h3>
                        <div class="desc_wrap">
                            <div class="inner">
                                <div class="feature">
                                    <ul>
                                        <li><span class="title">Arma principal/secundaria</span><span class="weapon">Amuleto Vulpino/Daga Binyeo</span></li>
                                        <li><span class="title">Tipo de combate</span><span class="type">Larga distancia/Cuerpo a cuerpo</span></li>
                                    </ul>
                                </div>
                
                                <p class="desc">
                                    Maegu es una maestra del Do de la escuela Jwado, que hizo un pacto con la Diosa Zorro, un ser misterioso de otro mundo. Ella lanza deslumbrantes hechizos escarlatas que deja perplejos a los enemigos.<br>A través del hechizo, lanza su Amuleto Vulpino para atacar a los oponentes a distancia, y en cambio, esparce su amuleto para realizar un ataque de área a los enemigos que están alrededor de ella. Maegu, tal como el zorro, se mueve con una impresionante agilidad para evadir los ataques de los enemigos.<br>También, realiza ataques conjuntos con el Dios Zorro, así que más vale no dejarse engañar por sus sutiles movimientos y tener especial cuidado al enfrentarse a ella. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="media_area origin">
                        <p class="img_area">
                            <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class15_img1.jpg">
                                <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class15_thumb_img1.jpg" alt="Maegu ORIGINAL">
                            </a>
                        </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/yuKApn0gpq4?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class15_thumb_video.jpg" alt="Maegu ORIGINAL video">
                                </a>
                            </p>
                    </div>
                </div>
            </div>
        </section>
            <section class="awakening">
                <div class="inner">
                    <div class="right_area">
                        <div class="characteristic">
                            <span class="label">
                                <span class="awakenOn">DESPERTAR</span>
                                <span class="talentOn">DON</span>
                            </span>
                            <h3 class="desc1">Maestra del Fuego de la Iluminación del Cielo.</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li class="awakenOn"><span class="title">Arma del Despertar</span><span class="weapon">Abanicos Vulpinos</span></li>
                                            <li class="talentOn"><span class="title">Herramienta de ejecución</span><span class="weapon">Abanicos Vulpinos</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                        </ul>
                                    </div>
           
                                    <p class="desc">
                                        La Maegu despertada puede encender el fuego de la diosa Zorro usando los abanicos vulpinos que solía usar cuando era niña.<br> Con ambas manos extendiendo los abanicos vulpinos, realiza movimientos elegantes y hermosos como en la danza clásica mientras lucha en combate cuerpo a cuerpo con enemigos. Basándose en su capacidad física mejorada por el fuego de la diosa Zorro, puede evitar con rápidez los ataques de enemigos y, al mismo tiempo, atacar con movimientos fluidos y coordinados. El hermoso fuego de la diosa Zorro que arde será la última vista que sus enemigos verán en este mundo.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area awake">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class15_awaken_img_1.jpg?v=200128">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class15_awaken_thumb_img_1.jpg" alt="Maegu DESPERTAR">
                                </a>
                            </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/9twWouepT30?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class15_awaken_thumb_video.jpg?v=200714" alt="Maegu DESPERTAR video">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="succession">
                <div class="inner">
                    <div class="center_area">
                        <div class="characteristic">
                            <span class="label">SUCESIÓN</span>
                            <h3 class="desc1">Nuevo pacto que perfecciona al zorro</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li><span class="title">Arma del Sucesión</span><span class="weapon">Amuleto Vulpino/Daga Binyeo</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Larga distancia/Cuerpo a cuerpo</span></li>
                                        </ul>
                                    </div>
                       
                                    <p class="desc">
                                        La Maegu en su Sucesión lanza hechizos aún más poderosos después de realizar un nuevo pacto con la Diosa Zorro.<br>Gracias al poder de la Diosa Zorro, quien ha recuperado a cabalidad su poder, Maegu se arma de elegantes hechizos. Entre ellos, está el hechizo con el cual invoca su sombra, con quien puede cambiar de ubicación.<br>La Maegu dejará perplejos a los enemigos con sus movimientos ilegibles.  
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area origin">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class15_succession_img_1.jpg">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class15_succession_thumb_img_1.jpg" alt="Maegu SUCESIÓN">
                                </a>
                            </p>
                                <p class="video_area">
                                    <a attr-idx="1" video-url="https://www.youtube.com/embed/yuKApn0gpq4?rel=0">
                                        <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class15_succession_thumb_video.jpg" alt="Maegu SUCESIÓN video">
                                    </a>
                                </p>
                        </div>
                    </div>
                </div>
            </section>

</article>
</html>

{% endblock %}

