{% extends 'base.html'%}

{% block title %} Maehwa {% endblock %}

{% block content %}

<style>
    .classes_top{
        color: rgb(95,38,37);
        margin-left: 800px;
        text-transform: uppercase;
    }

    .label{
        color: rgb(95,38,37);
        text-transform: uppercase;
    }
    
    
    .feature{
        color: white;
    }

    .desc1{
        text-decoration: underline;
        color: white;
    }

    .desc{
        color: white;
    }
</style>

<html>
<article class="content">
    <div class="classes_wrap character_21">
        <section class="classes_top">
            <h2>Maehwa</h2>
        </section>
        <div class="classes_top_symbol">
            <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/character_21_top_symbol.png" alt="" class="img_character_symbol" style="width:1723px;">
        </div>
        <section class="original">
            <div class="inner">
                <div class="left_area">
                    <div class="characteristic">
                        <span class="label">ORIGINAL</span>
                        <h3 class="desc1">Un filo brillante<br>entre pétalos florecientes</h3>
                        <div class="desc_wrap">
                            <div class="inner">
                                <div class="feature">
                                    <ul>
                                        <li><span class="title">Arma principal/secundaria</span><span class="weapon">Espada/Arco de Cuerno</span></li>
                                        <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                    </ul>
                                </div>

                                <p class="desc">
                                    La Maehwa es una ágil espadachina que porta una Espada y un Arco de Cuerno con los que destruye el orden de las filas enemigas. Igual que el musa, su habilidad «Persecución» le permite aprovechar su velocidad para atacar con diversos combos de habilidades. A larga distancia puede disparar salvas con el Arco de Cuerno y a corta distancia blande la espada con movimientos tan hermosos y fluidos como una lluvia de pétalos. Destaca sobre todo en los combates en grupos pequeños o individuales.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="media_area origin">
                        <p class="img_area">
                            <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class21_img1.jpg">
                                <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class21_thumb_img1.jpg" alt="Maehwa ORIGINAL">
                            </a>
                        </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/3hh830q9t8A?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class21_thumb_video.jpg" alt="Maehwa ORIGINAL video">
                                </a>
                            </p>
                    </div>
                </div>
            </div>
        </section>
            <section class="awakening">
                <div class="inner">
                    <div class="right_area">
                        <div class="characteristic">
                            <span class="label">
                                <span class="awakenOn">DESPERTAR</span>
                                <span class="talentOn">DON</span>
                            </span>
                            <h3 class="desc1">Cuando el arte de la lucha <br> alcance la perfección la lanza flamberga responderá a la llamada</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li class="awakenOn"><span class="title">Arma del Despertar</span><span class="weapon">Lanza de Luna</span></li>
                                            <li class="talentOn"><span class="title">Herramienta de ejecución</span><span class="weapon">Lanza de Luna</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                        </ul>
                                    </div>
         
                                    <p class="desc">
                                        La Maehwa en su Despertar hace alarde de su dominio de las artes marciales con su nueva arma, la Lanza de Luna, tan fría y hermosa como la nieve.<br> Aquí la maehwa se luce por su velocidad y ataques críticos, más que por el rango de alcance de su arma. Con este estilo de lucha, su efectividad se reduce cuando se enfrenta a múltiples enemigos, pero en combates individuales es un arma mortífera que dará más de un dolor de cabeza a sus enemigos. Solo aquellos con un gran dominio de clases con mucha velocidad y movimiento, podrán sacarle todo el partido a su estilo de lucha.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area awake">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class21_awaken_img_1.jpg?v=200128">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class21_awaken_thumb_img_1.jpg" alt="Maehwa DESPERTAR">
                                </a>
                            </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/icIdWZLdHQ0?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class21_awaken_thumb_video.jpg?v=200714" alt="Maehwa DESPERTAR video">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="succession">
                <div class="inner">
                    <div class="center_area">
                        <div class="characteristic">
                            <span class="label">SUCESIÓN</span>
                            <h3 class="desc1">El nuevo destino es revelado<br> con la afilada hoja del sable</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li><span class="title">Arma del Sucesión</span><span class="weapon">Espada/Arco de Cuerno</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                        </ul>
                                    </div>

                                    <p class="desc">
                                        La maehwa en su Sucesión vuelve a blandir la espada y a portar el Arco de Cuerno y, gracias a una renovada confianza en si misma, desconcierta a los enemigos con sus veloces ataques y combos. <br>Su gran movilidad le permite atacar a diestro y siniestro de forma muy fluida, donde cada golpe es mortal y certero. Sus nuevas habilidades reforzadas hacen temblar a sus enemigos al ver a una espadachina tan grácil como mortífera.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area origin">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class21_succession_img_1.jpg">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class21_succession_thumb_img_1.jpg" alt="Maehwa SUCESIÓN">
                                </a>
                            </p>
                                <p class="video_area">
                                    <a attr-idx="1" video-url="https://www.youtube.com/embed/3hh830q9t8A?rel=0">
                                        <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class21_succession_thumb_video.jpg" alt="Maehwa SUCESIÓN video">
                                    </a>
                                </p>
                        </div>
                    </div>
                </div>
            </section>


</article>
</html>

{% endblock %}


