{% extends 'base.html'%}

{% block title %} Mago {% endblock %}

{% block content %}

<style>
    .classes_top{
        color: rgb(39,56,62);
        margin-left: 810px;
        text-transform: uppercase;
    }

    .label{
        color: rgb(39,56,62);
        text-transform: uppercase;
    }
    
    
    .feature{
        color: white;
    }

    .desc1{
        text-decoration: underline;
        color: white;
    }

    .desc{
        color: white;
    }
</style>

<html>
<article class="content">
    <div class="classes_wrap character_28">
        <section class="classes_top">
            <h2>Mago</h2>
        </section>
        <div class="classes_top_symbol">
            <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/character_28_top_symbol.png" alt="" class="img_character_symbol" style="width:1723px;">
        </div>
        <section class="original">
            <div class="inner">
                <div class="left_area">
                    <div class="characteristic">
                        <span class="label">ORIGINAL</span>
                        <h3 class="desc1">Alcanzado la cúspide<br>del conocimiento mágico</h3>
                        <div class="desc_wrap">
                            <div class="inner">
                                <div class="feature">
                                    <ul>
                                        <li><span class="title">Arma principal/secundaria</span><span class="weapon">Vara/Daga</span></li>
                                        <li><span class="title">Tipo de combate</span><span class="type">Magia a distancia</span></li>
                                    </ul>
                                </div>
       
                                <p class="desc">
                                    El mago ha conseguido dominar los poderes elementales de la naturaleza y los maneja a su antojo con la Vara.<br>Tal es su sabiduría, que puede controlar sin problema orbes de fuego, relámpagos y tormentas de nieve. En un combate cuerpo a cuerpo, hace uso de su magia para compensar su debilidad: puede protegerse a sí mismo y a sus aliados, y es capaz de acortar la distancia con sus enemigos para apuñalarlos con su daga y dejarlos en estado crítico.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="media_area origin">
                        <p class="img_area">
                            <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class28_img1.jpg">
                                <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class28_thumb_img1.jpg" alt="Mago ORIGINAL">
                            </a>
                        </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/RTV1B4W8SpE?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class28_thumb_video.jpg" alt="Mago ORIGINAL video">
                                </a>
                            </p>
                    </div>
                </div>
            </div>
        </section>
            <section class="awakening">
                <div class="inner">
                    <div class="right_area">
                        <div class="characteristic">
                            <span class="label">
                                <span class="awakenOn">DESPERTAR</span>
                                <span class="talentOn">DON</span>
                            </span>
                            <h3 class="desc1">La verdadera sabiduría se alcanza<br>con el equilibrio entre la ira y la razón</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li class="awakenOn"><span class="title">Arma del Despertar</span><span class="weapon">Godhon</span></li>
                                            <li class="talentOn"><span class="title">Herramienta de ejecución</span><span class="weapon">Godhon</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Magia a distancia</span></li>
                                        </ul>
                                    </div>

                                    <p class="desc">
                                        El mago en su Despertar usa las godrsferas, adquiriendo el poder de los guardianes del fuego y del agua, para lanzar ataques de área que no tienen nada que envidiar a un cataclismo.<br>Gracias al uso de los elementos de la naturaleza, el mago sobresale en los combates en grandes grupos más que en combates individuales.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area awake">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class28_awaken_img_1.jpg?v=200128">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class28_awaken_thumb_img_1.jpg" alt="Mago DESPERTAR">
                                </a>
                            </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/SMdWn-i4QlU?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class28_awaken_thumb_video.jpg?v=200714" alt="Mago DESPERTAR video">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="succession">
                <div class="inner">
                    <div class="center_area">
                        <div class="characteristic">
                            <span class="label">SUCESIÓN</span>
                            <h3 class="desc1">El profeta que ha vuelto <br>a superar todos los límites</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li><span class="title">Arma del Sucesión</span><span class="weapon">Vara/Daga</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Magia a distancia</span></li>
                                        </ul>
                                    </div>
       
                                    <p class="desc">
                                        El mago que escogió el camino dela Sucesión vuelve a portar una Vara y una Daga para lanzar poderosos ataques mágicos al enemigo.<br> Su insaciable sed de conocimiento ha hecho que alcance la cúspide del conocimiento, logrando entender el uso y origen de la magia para extraer el máximo poder de los elementos. El mago no posee solo un poder extraordinario, sino que su habilidad para escapar de situaciones de emergencia y curar a sus aliados, lo hace una clase esencial en el campo de batalla.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area origin">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class28_succession_img_1.jpg">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class28_succession_thumb_img_1.jpg" alt="Mago SUCESIÓN">
                                </a>
                            </p>
                                <p class="video_area">
                                    <a attr-idx="1" video-url="https://www.youtube.com/embed/RTV1B4W8SpE?rel=0">
                                        <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class28_succession_thumb_video.jpg" alt="Mago SUCESIÓN video">
                                    </a>
                                </p>
                        </div>
                    </div>
                </div>
            </section>

</article>
</html>

{% endblock %}

