{% extends 'base.html'%}

{% block title %} Musa {% endblock %}

{% block content %}


<html>
<article class="content">
    <div class="classes_wrap character_20">
        <section class="classes_top">
            <h2>Musa</h2>
        </section>
        <div class="classes_top_symbol">
            <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/character_20_top_symbol.png" alt="" class="img_character_symbol">
        </div>
        <section class="original">
            <div class="inner">
                <div class="left_area">
                    <div class="characteristic">
                        <span class="label">ORIGINAL</span>
                        <h3>El afilado sable<br> que corta hasta el aire</h3>
                        <div class="desc_wrap">
                            <div class="inner">
                                <div class="feature">
                                    <ul>
                                        <li><span class="title">Arma principal/secundaria</span><span class="weapon">Espada/Arco de Cuerno</span></li>
                                        <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                    </ul>
                                </div>
   
                                <p class="desc">
                                    El musa es un experto en las artes marciales que domina la Espada y el Arco de Cuerno, además de poseer una gran movilidad y un espectacular dominio de los combos.<br> El musa, gracias a la habilidad «Persecución», hace alarde de una agilidad que le posiciona como la mejor clase en cuanto a movimiento y ataques rápidos se refiere. Más que enfrentarse a varios enemigos a la vez, el musa es un experto en romper la formación enemiga y en atacar por la espalda. Esta clase es perfecta para combates individuales por su combo de ataques rápidos y retiradas aún más veloces.&nbsp;
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="media_area origin">
                        <p class="img_area">
                            <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class20_img1.jpg">
                                <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class20_thumb_img1.jpg" alt="Musa ORIGINAL">
                            </a>
                        </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/Pyo7DM6X88c?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class20_thumb_video.jpg" alt="Musa ORIGINAL video">
                                </a>
                            </p>
                    </div>
                </div>
            </div>
        </section>
            <section class="awakening">
                <div class="inner">
                    <div class="right_area">
                        <div class="characteristic">
                            <span class="label">
                                <span class="awakenOn">DESPERTAR</span>
                                <span class="talentOn">DON</span>
                            </span>
                            <h3>Iluminado por el camino de la lucha,<br>el maestro de las artes marciales<br>ha retornado</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li class="awakenOn"><span class="title">Arma del Despertar</span><span class="weapon">Espada del Dios Guerrero</span></li>
                                            <li class="talentOn"><span class="title">Herramienta de ejecución</span><span class="weapon">Espada del Dios Guerrero</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                        </ul>
                                    </div>

                                    <p class="desc">
                                        El Musa que eligió el camino del despertar blande la Espada del Dios Guerrero, una afilada arma con la que sega la vida de sus enemigos. Aunque conserva parte de su agilidad y movilidad, los ataques del musa son ahora más pesados pero igualmente mortales. Gracias a esta nueva arma, ahora el musa tiene más facilidad para romper las líneas enemigas o usar sus diversos combos para traer la muerte al campo de batalla. Este experto en artes marciales, en las manos adecuadas, puede convertirse en el dios absoluto de las artes marciales.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area awake">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class20_awaken_img_1.jpg?v=200128">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class20_awaken_thumb_img_1.jpg" alt="Musa DESPERTAR">
                                </a>
                            </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/j1p99YRuXMg?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class20_awaken_thumb_video.jpg?v=200714" alt="Musa DESPERTAR video">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="succession">
                <div class="inner">
                    <div class="center_area">
                        <div class="characteristic">
                            <span class="label">SUCESIÓN</span>
                            <h3>Una espada imbuida de determinación, liberada del dolor de la causalidad.</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li><span class="title">Arma del Sucesión</span><span class="weapon">Espada/Arco de Cuerno</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                        </ul>
                                    </div>
 
                                    <p class="desc">
                                        El musa en su Sucesión vuelve a portar el Arco de Cuerno y a blandir la Espada, con el que cercena a los enemigos sin piedad.<br> Este experto en artes marciales corta limpiamente con su pasado y ahora puede realizar ataques más críticos y penetrantes. Además, hace uso de su gran movilidad y aguante para confundir a los enemigos y acabar con ellos con violentos ataques. El musa domina el campo de batalla con sus armas mejoradas, acabando con todo aquel que ose cruzarse en su camino.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area origin">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class20_succession_img_1.jpg">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class20_succession_thumb_img_1.jpg" alt="Musa SUCESIÓN">
                                </a>
                            </p>
                                <p class="video_area">
                                    <a attr-idx="1" video-url="https://www.youtube.com/embed/Pyo7DM6X88c?rel=0">
                                        <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class20_succession_thumb_video.jpg" alt="Musa SUCESIÓN video">
                                    </a>
                                </p>
                        </div>
                    </div>
                </div>
            </section>

</article>
</html>


{% endblock %}


