{% extends 'base.html'%}

{% block title %} Mystic {% endblock %}

{% block content %}

<style>
    .classes_top{
        color: rgb(38,59,75);
        margin-left: 820px;
        text-transform: uppercase;
    }

    .label{
        color: rgb(38,59,75);
        text-transform: uppercase;
    }
    
    
    .feature{
        color: white;
    }

    .desc1{
        text-decoration: underline;
        color: white;
    }

    .desc{
        color: white;
    }
</style>

<html>
<article class="content">
    <div class="classes_wrap character_23">
        <section class="classes_top">
            <h2>Mystic</h2>
        </section>
        <div class="classes_top_symbol">
            <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/character_23_top_symbol.png" alt="" class="img_character_symbol" style="width:1723px;">
        </div>
        <section class="original">
            <div class="inner">
                <div class="left_area">
                    <div class="characteristic">
                        <span class="label">ORIGINAL</span>
                        <h3 class="desc1">Esta maestra de las artes marciales<br>hará temblar la tierra</h3>
                        <div class="desc_wrap">
                            <div class="inner">
                                <div class="feature">
                                    <ul>
                                        <li><span class="title">Arma principal/secundaria</span><span class="weapon">Guantelete/Brazalete</span></li>
                                        <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                    </ul>
                                </div>

                                <p class="desc">
                                    La Mystic usa los guanteletes y brazaletes para proteger sus armas más preciadas, sus puños y brazos.<br> Su estilo de lucha se basa en una serie de golpes rápidos y poderosos, más que concentrar su fuerza en un solo golpe. Les saca ventaja a sus enemigos con imparables golpes y agarres, sin darles ni un momento de descanso.&nbsp;
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="media_area origin">
                        <p class="img_area">
                            <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class23_img1.jpg">
                                <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class23_thumb_img1.jpg" alt="Mystic ORIGINAL">
                            </a>
                        </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/75Ob7RWPdfo?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class23_thumb_video.jpg" alt="Mystic ORIGINAL video">
                                </a>
                            </p>
                    </div>
                </div>
            </div>
        </section>
            <section class="awakening">
                <div class="inner">
                    <div class="right_area">
                        <div class="characteristic">
                            <span class="label">
                                <span class="awakenOn">DESPERTAR</span>
                                <span class="talentOn">DON</span>
                            </span>
                            <h3 class="desc1">Esos ojos azules unidos por el destino, <br> se encontrarán en las lágrimas de Banha</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li class="awakenOn"><span class="title">Arma del Despertar</span><span class="weapon">Cestus</span></li>
                                            <li class="talentOn"><span class="title">Herramienta de ejecución</span><span class="weapon">Cestus</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                        </ul>
                                    </div>

                                    <p class="desc">
                                        La Mystic en su Despertar, utiliza los Cestus para proteger y fortalecer sus puños, con los que hará picadillo a sus enemigos.<br> Esta peligrosa luchadora ha recibido el poder del dragón azul, con lo que ha multiplicado su fuerza bruta. Además, puede entrar y salir del campo de batalla a su antojo, desconcertando a los enemigos. Dispone de numerosas habilidades de debilitación con las cuales derrota con facilidad a un pequeño grupo de enemigos. Durante el combate, puede conseguir fragmentos del espíritu de lucha, que se consumen al usar algunas habilidades, para invocar a un enorme dragón que atacará junto a ella.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area awake">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class23_awaken_img_1.jpg?v=200128">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class23_awaken_thumb_img_1.jpg" alt="Mystic DESPERTAR">
                                </a>
                            </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/I8Oug31MjDM?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class23_awaken_thumb_video.jpg?v=200714" alt="Mystic DESPERTAR video">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="succession">
                <div class="inner">
                    <div class="center_area">
                        <div class="characteristic">
                            <span class="label">SUCESIÓN</span>
                            <h3 class="desc1">Elimina cualquier rastro de emoción<br> para acabar con todo de un solo golpe</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li><span class="title">Arma del Sucesión</span><span class="weapon">Guantelete/Brazalete</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                        </ul>
                                    </div>

                                    <p class="desc">
                                        La Mystic que eligió el camino del Sucesión se equipa con los guanteletes y los brazaletes y hace alarde de su nueva fuerza gracias al espíritu marcial.<br> En lugar de depender del poder del dragón, la Mystic aprendió a controlar sus poderes, lo que le permite utilizar su fuerza con serenidad y no dejarse llevar por el fragor de la batalla. Su estilo de ataque con combos rápidos hace que los enemigos solo puedan defenderse, sin darles tiempo a atacar. La mejor defensa es un buen ataque, y la Mystic es el mejor ejemplo de esto: atacar hasta que tus enemigos caigan de agotamiento es la mejor estrategia para conquistar el campo de batalla.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area origin">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class23_succession_img_1.jpg">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class23_succession_thumb_img_1.jpg" alt="Mystic SUCESIÓN">
                                </a>
                            </p>
                                <p class="video_area">
                                    <a attr-idx="1" video-url="https://www.youtube.com/embed/75Ob7RWPdfo?rel=0">
                                        <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class23_succession_thumb_video.jpg" alt="Mystic SUCESIÓN video">
                                    </a>
                                </p>
                        </div>
                    </div>
                </div>
            </section>

</article>
</html>

{% endblock %}

