{% extends 'base.html'%}

{% block title %} Ninja {% endblock %}

{% block content %}

<style>
    .classes_top{
        color: rgb(65,46,45);
        margin-left: 820px;
        text-transform: uppercase;
    }

    .label{
        color: rgb(65,46,45);
        text-transform: uppercase;
    }
    
    
    .feature{
        color: white;
    }

    .desc1{
        text-decoration: underline;
        color: white;
    }

    .desc{
        color: white;
    }
</style>

<html>
<article class="content">
    <div class="classes_wrap character_26">
        <section class="classes_top">
            <h2>Ninja</h2>
        </section>
        <div class="classes_top_symbol">
            <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/character_26_top_symbol.png" alt="" class="img_character_symbol" style="width:1723px;">
        </div>
        <section class="original">
            <div class="inner">
                <div class="left_area">
                    <div class="characteristic">
                        <span class="label">ORIGINAL</span>
                        <h3 class="desc1">Un asesino que acecha la espalda del enemigo.</h3>
                        <div class="desc_wrap">
                            <div class="inner">
                                <div class="feature">
                                    <ul>
                                        <li><span class="title">Arma principal/secundaria</span><span class="weapon">Espada Corta, Shuriken/Kunai</span></li>
                                        <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                    </ul>
                                </div>
    
                                <p class="desc">
                                    Un ninja que usa una espada corta como arma principal es un personaje especializado en el asesinato que usa un shuriken como arma secundaria cuando maximiza el poder de ataque y un shuriken como arma secundaria cuando complementa la defensa.<br>Utilizando el sigilo y el ninjutsu, se caracteriza por poder aparecer detrás de los enemigos en un instante y asestar un golpe crítico. Sin embargo, a diferencia de Kunoichi, los ninjas utilizan principalmente sus propias habilidades para defenderse de los ataques enemigos, por lo que es importante esconderse tanto como sea posible y luego atacar con certeza.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="media_area origin">
                        <p class="img_area">
                            <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class26_img1.jpg">
                                <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class26_thumb_img1.jpg" alt="Ninja ORIGINAL">
                            </a>
                        </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/hh0aPaNN7Qg?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class26_thumb_video.jpg" alt="Ninja ORIGINAL video">
                                </a>
                            </p>
                    </div>
                </div>
            </div>
        </section>
            <section class="awakening">
                <div class="inner">
                    <div class="right_area">
                        <div class="characteristic">
                            <span class="label">
                                <span class="awakenOn">DESPERTAR</span>
                                <span class="talentOn">DON</span>
                            </span>
                            <h3 class="desc1">El día en que Sura regrese,<br>la bandera de los Narusawa volverá a ondear</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li class="awakenOn"><span class="title">Arma del Despertar</span><span class="weapon">Espada del Caos</span></li>
                                            <li class="talentOn"><span class="title">Herramienta de ejecución</span><span class="weapon">Espada del Caos</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                        </ul>
                                    </div>
                         
                                    <p class="desc">
                                        El ninja, ahora uno con Sura, esgrime la Espada del Caos y se vuelve tan rápido e imperceptible como una sombra, cercenando a los enemigos a su paso.<br>Su estilo, ahora menos sigiloso, es permanecer escondido mientras espera un descuido de los enemigos para atacar repentina y violentamente, provocando un daño mortal. Aquellos que han estado al borde de la muerte ante el ninja, aseguran que en el momento del ataque, por un instante, creyeron ver la silueta de Sura, el espíritu de batalla.&nbsp;
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area awake">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class26_awaken_img_1.jpg?v=200128">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class26_awaken_thumb_img_1.jpg" alt="Ninja DESPERTAR">
                                </a>
                            </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/pzb5B2xa8h8?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class26_awaken_thumb_video.jpg?v=200714" alt="Ninja DESPERTAR video">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="succession">
                <div class="inner">
                    <div class="center_area">
                        <div class="characteristic">
                            <span class="label">SUCESIÓN</span>
                            <h3 class="desc1">El asesino supera sus límites <br>para proteger a aquellos que ama</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li><span class="title">Arma del Sucesión</span><span class="weapon">Espada corta, Shuriken/Kunai</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                        </ul>
                                    </div>

                                    <p class="desc">
                                        El ninja en su Sucesión renuncia al poder de la Espada del Caos para proteger a sus seres queridos y vuelve a blandir la espada corta y el shuriken o el kunai, concentrando todo su poder en mejorar el dominio de estas armas.<br> Se mueve sigilosamente, ocultando sus movimientos, para acercarse rápidamente a su objetivo y atacar sin piedad, provocándole heridas mortales. Ahora el ninja ataca de forma más precisa y evade a los enemigos con más facilidad, convirtiéndose en una peligrosa amenaza en el campo de batalla.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area origin">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class26_succession_img_1.jpg">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class26_succession_thumb_img_1.jpg" alt="Ninja SUCESIÓN">
                                </a>
                            </p>
                                <p class="video_area">
                                    <a attr-idx="1" video-url="https://www.youtube.com/embed/hh0aPaNN7Qg?rel=0">
                                        <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class26_succession_thumb_video.jpg" alt="Ninja SUCESIÓN video">
                                    </a>
                                </p>
                        </div>
                    </div>
                </div>
            </section>

</article>
</html>


{% endblock %}


