{% extends 'base.html'%}

{% block title %} Sage {% endblock %}

{% block content %}


<html>
<article class="content">
    <div class="classes_wrap character_2">
        <section class="classes_top">
            <h2>Sage</h2>
        </section>
        <div class="classes_top_symbol">
            <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/character_2_top_symbol.png" alt="" class="img_character_symbol">
        </div>
        <section class="original">
            <div class="inner">
                <div class="left_area">
                    <div class="characteristic">
                        <span class="label">ORIGINAL</span>
                        <h3>El último de los antiguos, <br>espera el día del juicio final,<br>encerrado en el vacío</h3>
                        <div class="desc_wrap">
                            <div class="inner">
                                <div class="feature">
                                    <ul>
                                        <li><span class="title">Arma principal/secundaria</span><span class="weapon">Kyve/Talismán</span></li>
                                        <li><span class="title">Tipo de combate</span><span class="type">Distancia Mágica de largo y corto alcance</span></li>
                                    </ul>
                                </div>
     
                                <p class="desc">
                                    El Sage, la última persona con vida de la antigua civilización de los Antiguos, es un poderoso erudito que controla el tiempo y espacio a su antojo. <br>Con el inconmensurable poder del kyve, un arma ancestral que creó él mismo, puede lanzar poderosos ataques al mismo tiempo que evade los contraataques enemigos. Su inmensa sabiduría y fuerza hace que sus enemigos queden desprevenidos, siendo meros espectadores de su infinito poder.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="media_area origin">
                        <p class="img_area">
                            <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class2_img1.jpg">
                                <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class2_thumb_img1.jpg" alt="Sage ORIGINAL">
                            </a>
                        </p>
                            <p class="ready_area">
                                <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/thumb_ready_v2.jpg" alt="">
                            </p>
                    </div>
                </div>
            </div>
        </section>
            <section class="awakening">
                <div class="inner">
                    <div class="right_area">
                        <div class="characteristic">
                            <span class="label">
                                <span class="awakenOn">DESPERTAR</span>
                                <span class="talentOn">DON</span>
                            </span>
                            <h3>El último héroe empuñará la lanza que contiene el poder del rayo para cambiar el destino del mundo.</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li class="awakenOn"><span class="title">Arma del Despertar</span><span class="weapon">Kibelius</span></li>
                                            <li class="talentOn"><span class="title">Herramienta de ejecución</span><span class="weapon">Kibelius</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Media distancia/Cuerpo a cuerpo</span></li>
                                        </ul>
                                    </div>
     
                                    <p class="desc">
                                        El Sage en su Despertar, recupera la Kibelius, una poderosísima lanza que él mismo creó tiempo atrás con las técnicas de los Antiguos.<br> Con este poder, el último de los antiguos puede atacar de forma rápida y fulminante como la caída de un rayo en medio de una noche de tormenta. Esto no significa que el Sage quede desprovisto de defensa, pues puede invocar a Arkanon, una de las armas antiguas, para potenciar su poder y defenderse. Este formidable estilo de combate pillará a los enemigos de imprevisto, sin la posibilidad de esquivar el rayo que acabará con sus vidas.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area awake">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class2_awaken_img_1.jpg?v=200128">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class2_awaken_thumb_img_1.jpg" alt="Sage DESPERTAR">
                                </a>
                            </p>
                                <p class="ready_area">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/thumb_ready_v2.jpg" alt="">
                                </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="succession">
                <div class="inner">
                    <div class="center_area">
                        <div class="characteristic">
                            <span class="label">SUCESIÓN</span>
                            <h3>Reunir el poder perdido durante un largo período de tiempo<br> para formar una figura perfecta</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li><span class="title">Arma del Sucesión</span><span class="weapon">Kyve/Talismán</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Distancia Mágica de largo y corto alcance</span></li>
                                        </ul>
                                    </div>
         
                                    <p class="desc">
                                        El Sage que ha elegido el Sucesión, ha logrado liberar todo el potencial del kyve oculto durante siglos para poder enfrentarse a su destino y recuperar su poder por completo.<br> De esta forma, el Sage no solo controla el espacio, sino el mismo tiempo. Con este nuevo poder, podrá manejar el tiempo a su antojo y reducir el tiempo de reutilización de sus habilidades. Esto le permite atacar sin piedad a todo aquel que se ponga en su camino. Aquellos que se enfrenten al Sage acabarán encontrando su final en un abrir y cerrar de ojos.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area origin">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class2_succession_img_1.jpg">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class2_succession_thumb_img_1.jpg" alt="Sage SUCESIÓN">
                                </a>
                            </p>
                                <p class="ready_area">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/thumb_ready_v2.jpg" alt="">
                                </p>
                        </div>
                    </div>
                </div>
            </section>

</article>
</html>

{% endblock %}

