{% extends 'base.html'%}

{% block title %} Shai {% endblock %}

{% block content %}

<style>
    .classes_top{
        color: rgb(57,55,30);
        margin-left: 825px;
        text-transform: uppercase;
    }

    .label{
        color: rgb(57,55,30);
        text-transform: uppercase;
    }
    
    
    .feature{
        color: white;
    }

    .desc1{
        text-decoration: underline;
        color: white;
    }

    .desc{
        color: white;
    }
</style>

<html>
<article class="content">
    <div class="classes_wrap character_17">
        <section class="classes_top">
            <h2>Shai</h2>
        </section>
        <div class="classes_top_symbol">
            <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/character_17_top_symbol.png" alt="" class="img_character_symbol" style="width:1723px;">
        </div>
        <section class="original">
            <div class="inner">
                <div class="left_area">
                    <div class="characteristic">
                        <span class="label">ORIGINAL</span>
                        <h3 class="desc1">No te compliques.<br>¿Por qué no te diviertes hoy conmigo?</h3>
                        <div class="desc_wrap">
                            <div class="inner">
                                <div class="feature">
                                    <ul>
                                        <li><span class="title">Arma principal/secundaria</span><span class="weapon">Florang/Vitclari</span></li>
                                        <li><span class="title">Tipo de combate</span><span class="type">Apoyo</span></li>
                                    </ul>
                                </div>
  
                                <p class="desc">
                                    Las shais son una clase de apoyo con habilidades de combate y bonificadores.<br>Son buenas evitando ataques enemigos, rápidas y escurridizas y atacan a sus enemigos por donde menos se lo esperan. El florang es el arma principal de la shai, un boomerang gigante que usa para atacar. Su arma secundaria es el vitclarum, un arma mística con la que cura y protege tanto a sus aliados como a ella misma.<br>Un personaje muy útil y adorable al que querrás proteger de todo peligro.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="media_area origin">
                        <p class="img_area">
                            <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class17_img1.jpg">
                                <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class17_thumb_img1.jpg" alt="Shai ORIGINAL">
                            </a>
                        </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/lJBa1XmiwIQ?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class17_thumb_video.jpg" alt="Shai ORIGINAL video">
                                </a>
                            </p>
                    </div>
                </div>
            </div>
        </section>
            <section class="awakening">
                <div class="inner">
                    <div class="right_area">
                        <div class="characteristic">
                            <span class="label">
                                <span class="awakenOn">DESPERTAR</span>
                                <span class="talentOn">DON</span>
                            </span>
                            <h3 class="desc1">¡Bip! ¡Bip! Cuando tengas miedo y miedo, escucha mi actuación.<br>¿Que tal, estas mejor?</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li class="awakenOn"><span class="title">Arma del Despertar</span><span class="weapon">SolSol</span></li>
                                            <li class="talentOn"><span class="title">Herramienta de ejecución</span><span class="weapon">SolSol</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Apoyo, magia de corto alcance</span></li>
                                        </ul>
                                    </div>

                                    <p class="desc">
                                        En el pasado, una ilusión oscura arrebató sus recuerdos a la shai. A pesar de que se vio forzada a volver a enfrentarse a ella, no pudo sobreponerse al miedo y cayó en un pozo de desesperación.<br>Por suerte, cuando Artina le otorgó la Armonía de luz, descubrió que tenía un don para la música, un don que ahora usa para luchar contra sus miedos y ayudar a sus compañeros. Artina le enseñó los valores fundamentales de la música: la compasión, la pureza y la felicidad, y le entregó su folia. La folia se combina con el vitclari para influenciar a los seres que estén en las cercanías con un poder místico que cambia según la canción que se toque. La tonada adecuada puede cambiar las tornas de una batalla difícil.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area awake">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class17_awaken_img_1.jpg?v=200128">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class17_awaken_thumb_img_1.jpg" alt="Shai DESPERTAR">
                                </a>
                            </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/rMYJSNPb2zE?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class17_awaken_thumb_video.jpg?v=200714" alt="Shai DESPERTAR video">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>


</article>
</html>

{% endblock %}


