{% extends 'base.html'%}

{% block title %} Striker {% endblock %}

{% block content %}

<style>
    .classes_top{
        color: rgb(95,38,37);
        margin-left: 810px;
        text-transform: uppercase;
    }

    .label{
        color: rgb(95,38,37);
        text-transform: uppercase;
    }
    
    
    .feature{
        color: white;
    }

    .desc1{
        text-decoration: underline;
        color: white;
    }

    .desc{
        color: white;
    }
</style>

<html>
<article class="content">
    <div class="classes_wrap character_19">
        <section class="classes_top">
            <h2>Striker</h2>
        </section>
        <div class="classes_top_symbol">
            <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/character_19_top_symbol.png" alt="" class="img_character_symbol" style="width:1723px;">
        </div>
        <section class="original">
            <div class="inner">
                <div class="left_area">
                    <div class="characteristic">
                        <span class="label">ORIGINAL</span>
                        <h3 class="desc1">Superando sus propios límites</h3>
                        <div class="desc_wrap">
                            <div class="inner">
                                <div class="feature">
                                    <ul>
                                        <li><span class="title">Arma principal/secundaria</span><span class="weapon">Guantelete/Brazalete</span></li>
                                        <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                    </ul>
                                </div>

                                <p class="desc">
                                    La fuerza bruta del Striker hace de su cuerpo un arma mortal. Equipándose sus guanteletes y brazaletes para protegerse, ataca con múltiples combos y veloces movimientos.<br>Sus ataques fluyen de forma impecable y elegante como el agua, acabando con sus enemigos con golpes, agarres y empujes, haciendo gala de una maestría impecable en la lucha cuerpo a cuerpo.&nbsp;
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="media_area origin">
                        <p class="img_area">
                            <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class19_img1.jpg">
                                <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class19_thumb_img1.jpg" alt="Striker ORIGINAL">
                            </a>
                        </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/_TbU5Wu6hAk?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class19_thumb_video.jpg" alt="Striker ORIGINAL video">
                                </a>
                            </p>
                    </div>
                </div>
            </div>
        </section>
            <section class="awakening">
                <div class="inner">
                    <div class="right_area">
                        <div class="characteristic">
                            <span class="label">
                                <span class="awakenOn">DESPERTAR</span>
                                <span class="talentOn">DON</span>
                            </span>
                            <h3 class="desc1">He librado una lucha en mi interior<br>que casi me lleva a la muerte</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li class="awakenOn"><span class="title">Arma del Despertar</span><span class="weapon">Armadura Sagrada</span></li>
                                            <li class="talentOn"><span class="title">Herramienta de ejecución</span><span class="weapon">Armadura Sagrada</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                        </ul>
                                    </div>

                                    <p class="desc">
                                        El Striker despierto ha logrado controlar el llamado Espíritu del eco tras una dura batalla consigo mismo. Ahora el Striker pelea como una bestia demente en las batallas cuerpo a cuerpo.<br> Gracias su perfecto dominio de las artes de la lucha, puede crear combos imparables agarrando a los enemigos, derrotándolos con facilidad en grupos pequeños. Por otro lado, si necesita propinar un golpe potente, puede hacerlo concentrándose en comunicarse con el Espíritu del eco en su interior.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area awake">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class19_awaken_img_1.jpg?v=200128">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class19_awaken_thumb_img_1.jpg" alt="Striker DESPERTAR">
                                </a>
                            </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/48UI9_V-a8Y?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class19_awaken_thumb_video.jpg?v=200714" alt="Striker DESPERTAR video">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="succession">
                <div class="inner">
                    <div class="center_area">
                        <div class="characteristic">
                            <span class="label">SUCESIÓN</span>
                            <h3 class="desc1">Un maestro de las artes marciales,<br> con una bestia feroz en su interior</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li><span class="title">Arma del Sucesión</span><span class="weapon">Guantelete/Brazalete</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                        </ul>
                                    </div>

                                    <p class="desc">
                                        El Striker en su Sucesión alberga en su interior el alma de una bestia imparable que puede invocar cuando lo necesite.<br> Más que la fuerza física exterior, el Striker ahora considera más importante la fuerza interior, algo que ha conseguido tras mucho entrenamiento. Liberando al espíritu de la bestia, el Striker ataca al oponente con una fuerza brutal mientras se protege. Si el oponente pierde de vista al Striker, sabrá que ha llegado su fin cuando vea aparecer de la nada su puño de hierro.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area origin">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class19_succession_img_1.jpg">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class19_succession_thumb_img_1.jpg" alt="Striker SUCESIÓN">
                                </a>
                            </p>
                                <p class="video_area">
                                    <a attr-idx="1" video-url="https://www.youtube.com/embed/_TbU5Wu6hAk?rel=0">
                                        <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class19_succession_thumb_video.jpg" alt="Striker SUCESIÓN video">
                                    </a>
                                </p>
                        </div>
                    </div>
                </div>
            </section>

</article>
</html>


{% endblock %}
