{% extends 'base.html'%}

{% block title %} Valquiria {% endblock %}

{% block content %}

<style>
    .classes_top{
        color: rgb(95,38,37);
        margin-left: 820px;
        text-transform: uppercase;
    }

    .label{
        color: rgb(95,38,37);
        text-transform: uppercase;
    }
    
    
    .feature{
        color: white;
    }

    .desc1{
        text-decoration: underline;
        color: white;
    }

    .desc{
        color: white;
    }
</style>

<html>
<article class="content">
    <div class="classes_wrap character_24">
        <section class="classes_top">
            <h2>Valquiria</h2>
        </section>
        <div class="classes_top_symbol">
            <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/character_24_top_symbol.png" alt="" class="img_character_symbol" style="width:1915px;">
        </div>
        <section class="original">
            <div class="inner">
                <div class="left_area">
                    <div class="characteristic">
                        <span class="label">ORIGINAL</span>
                        <h3 class="desc1">La guerrera divina bendecida <br>con la protección de Elion</h3>
                        <div class="desc_wrap">
                            <div class="inner">
                                <div class="feature">
                                    <ul>
                                        <li><span class="title">Arma principal/secundaria</span><span class="weapon">Espada Larga/Escudo</span></li>
                                        <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                    </ul>
                                </div>

                                <p class="desc">
                                    La valquiria usa una espada larga con una mano y un escudo con la otra, equilibrando bien el ataque y la defensa. <br>Aunque es un poco lenta en comparación con otros personajes, si un enemigo entra en su área de alcance, podrá asestar un potente ataque crítico. Además, puede usar habilidades que curan y protegen tanto a los aliados como a sí misma. La valquiria destaca en medio del campo de batalla, pues puede tanto curar a sus aliados como derrotar enemigos rápidamente.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="media_area origin">
                        <p class="img_area">
                            <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class24_img1.jpg">
                                <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class24_thumb_img1.jpg" alt="Valquiria ORIGINAL">
                            </a>
                        </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/lRYJe4Zzs1A?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class24_thumb_video.jpg" alt="Valquiria ORIGINAL video">
                                </a>
                            </p>
                    </div>
                </div>
            </div>
        </section>
            <section class="awakening">
                <div class="inner">
                    <div class="right_area">
                        <div class="characteristic">
                            <span class="label">
                                <span class="awakenOn">DESPERTAR</span>
                                <span class="talentOn">DON</span>
                            </span>
                            <h3 class="desc1">Con la justicia en tu mano, <br>Elion en tu corazón, y virtud en la Lancia</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li class="awakenOn"><span class="title">Arma del Despertar</span><span class="weapon">Lancia</span></li>
                                            <li class="talentOn"><span class="title">Herramienta de ejecución</span><span class="weapon">Lancia</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                        </ul>
                                    </div>

                                    <p class="desc">
                                        La valquiria es bendecida por Elion en su Despertar y obtiene la gigantesca Lancia, además de portar un escudo defensivo. En este modo de combate, la valquiria es el personaje con la defensa más sólida y férrea, además de poseer un gran poder de ataque en los enfrentamientos individuales gracias a la poderosa estocada de su Lancia. A pesar de ser un poco más débil ante un grupo de enemigos dispersos, sus poderosos ataques desde el cielo hacen recordar que la valquiria es una caballera bendecida con el poder divino.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area awake">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class24_awaken_img_1.jpg?v=200128">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class24_awaken_thumb_img_1.jpg" alt="Valquiria DESPERTAR">
                                </a>
                            </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/-BPTO2VcmXg?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class24_awaken_thumb_video.jpg?v=200714" alt="Valquiria DESPERTAR video">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="succession">
                <div class="inner">
                    <div class="center_area">
                        <div class="characteristic">
                            <span class="label">SUCESIÓN</span>
                            <h3 class="desc1">Una misión imperturbable forjada <br>con su afilada espada</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li><span class="title">Arma del Sucesión</span><span class="weapon">Espada Larga/Escudo</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Cuerpo a cuerpo</span></li>
                                        </ul>
                                    </div>

                                    <p class="desc">
                                        La valquiria en el camino del Sucesión se posiciona en la vanguardia del campo de batalla con su espada larga y escudo en mano. Con la voluntad de Enslar grabada en su espada, la valquiria ataca fortalecida por el poder de la fe. De este modo, puede lanzar ataques de área o liberar energía divina clavando su espada en el suelo. Las habilidades mejoradas de la valquiria le permiten desarmar las filas enemigas cargando hacia ellos sin descanso.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area origin">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class24_succession_img_1.jpg">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class24_succession_thumb_img_1.jpg" alt="Valquiria SUCESIÓN">
                                </a>
                            </p>
                                <p class="video_area">
                                    <a attr-idx="1" video-url="https://www.youtube.com/embed/lRYJe4Zzs1A?rel=0">
                                        <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class24_succession_thumb_video.jpg" alt="Valquiria SUCESIÓN video">
                                    </a>
                                </p>
                        </div>
                    </div>
                </div>
            </section>

</article>
</html>


{% endblock %}
