{% extends 'base.html'%}

{% block title %} Wusa {% endblock %}

{% block content %}


<html>
<article class="content">
    <div class="classes_wrap character_30">
        <section class="classes_top">
            <h2>Wusa</h2>
        </section>
        <div class="classes_top_symbol">
            <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/character_30_top_symbol.png" alt="" class="img_character_symbol">
        </div>
        <section class="original">
            <div class="inner">
                <div class="left_area">
                    <div class="characteristic">
                        <span class="label">ORIGINAL</span>
                        <h3>La maestra del Do de la escuela Wudo <br>desata una implacable tormenta con sus elegantes alas de mariposa</h3>
                        <div class="desc_wrap">
                            <div class="inner">
                                <div class="feature">
                                    <ul>
                                        <li><span class="title">Arma principal/secundaria</span><span class="weapon">Abanico Mariposa/Bastón Do</span></li>
                                        <li><span class="title">Tipo de combate</span><span class="type">Media distancia/Cuerpo a cuerpo</span></li>
                                    </ul>
                                </div>
          
                                <p class="desc">
                                    La Wusa sigue la doctrina de la escuela Wudo, una institución que busca el verdadero significado del «Do» mediante el entrenamiento del cuerpo y la mente. Esta maestra del Do porta un Abanico Mariposa y un Bastón Do que le permiten atacar tanto a corta distancia como a media distancia controlando el poder de este saber ancestral. Su estilo de ataque es variado y cambiante: puede invocar mariposas para que desaten tanto lluvias torrenciales como tormentas, o usar el poder de las cuatro plantas nobles para acabar con sus enemigos. A pesar de la ferocidad de sus ataques, la Wusa se mueve tan grácil como una mariposa y tan delicadamente como el mecer del agua.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="media_area origin">
                        <p class="img_area">
                            <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class30_img1.jpg">
                                <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class30_thumb_img1.jpg" alt="Wusa ORIGINAL">
                            </a>
                        </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/5k-IrSE5YtE?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class30_thumb_video.jpg" alt="Wusa ORIGINAL video">
                                </a>
                            </p>
                    </div>
                </div>
            </div>
        </section>
            <section class="awakening">
                <div class="inner">
                    <div class="right_area">
                        <div class="characteristic">
                            <span class="label">
                                <span class="awakenOn">DESPERTAR</span>
                                <span class="talentOn">DON</span>
                            </span>
                            <h3>Maestra que hace florecer las flores del inframundo</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li class="awakenOn"><span class="title">Arma del Despertar</span><span class="weapon">Tomo Místico</span></li>
                                            <li class="talentOn"><span class="title">Herramienta de ejecución</span><span class="weapon">Tomo Místico</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Distancia mediana/Cuerpo a cuerpo</span></li>
                                        </ul>
                                    </div>
          
                                    <p class="desc">
                                        La Wusa despertada usa el poder del Jardín de Seocheon con las armas de un registro de amuletos y un pincel para escribir los nombres de muertos.<br> La Wusa, con su pincel, evoca las almas de muertos o las flores del inframundo. Estas flores funcionan como minas o para atacar con retraso temporal y les permiten infligir o interrumpir los movimientos de enemigos.<br> Luego, despliega un enorme jardín de flores de Seocheon y, dependiendo de las distancias del enemigo, lanza un ataque masivo de distancia mediana o cuerpo a cuerpo. Y también persigue sin descanso al enemigo con una marca utilizando las flores invocadas, causando daño explosivo.<br> Muchos tendrán miedo de la Wusa por los gestos como si estuviera arrebatando las almas, aquellas que están escritos en el registro del inframundo.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area awake">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class30_awaken_img_1.jpg?v=200128">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class30_awaken_thumb_img_1.jpg" alt="Wusa DESPERTAR">
                                </a>
                            </p>
                            <p class="video_area">
                                <a attr-idx="1" video-url="https://www.youtube.com/embed/E4DGvIwDBps?rel=0">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class30_awaken_thumb_video.jpg?v=200714" alt="Wusa DESPERTAR video">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="succession">
                <div class="inner">
                    <div class="center_area">
                        <div class="characteristic">
                            <span class="label">SUCESIÓN</span>
                            <h3>La mariposa que alcanza la cumbre del Do</h3>
                            <div class="desc_wrap">
                                <div class="inner">
                                    <div class="feature">
                                        <ul>
                                            <li><span class="title">Arma del Sucesión</span><span class="weapon">Abanico Mariposa/Bastón Do</span></li>
                                            <li><span class="title">Tipo de combate</span><span class="type">Media distancia/Cuerpo a cuerpo</span></li>
                                        </ul>
                                    </div>
        
                                    <p class="desc">
                                        La Wusa en su Renacer recupera el conocimiento de las artes del Do arrebatado por su hermana gemela. <br>Gracias a este conocimiento, transmitido por su maestro Hwadam, aprovecha la energía del daño recibido para contraatacar, permitiéndole anular la defensa de los enemigos. Debido a su esfuerzo y al camino de rectitud que ha seguido hasta ahora, es capaz de adaptarse a la fuerza de sus enemigos. <br>Asimismo, el perfeccionamiento de su conocimiento del Do le permite invocar con más control nubes de tormenta para desatar una terrible tempestad sobre los enemigos. Nadie podrá escapar de la muerte disfrazada de grácil mariposa.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media_area origin">
                            <p class="img_area">
                                <a attr-idx="0" data-url="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class30_succession_img_1.jpg">
                                    <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class30_succession_thumb_img_1.jpg" alt="Wusa SUCESIÓN">
                                </a>
                            </p>
                                <p class="video_area">
                                    <a attr-idx="1" video-url="https://www.youtube.com/embed/5k-IrSE5YtE?rel=0">
                                        <img src="https://s1.pearlcdn.com/SA/contents/img/portal/gameinfo/class30_succession_thumb_video.jpg" alt="Wusa SUCESIÓN video">
                                    </a>
                                </p>
                        </div>
                    </div>
                </div>
            </section>

</article>
</html>


{% endblock %}

